/* 
font-family: 'Muli', sans-serif;
font-family: 'Lora', serif;
*/
*{

}
body {
	background-image:url("../img/background.jpg");
	background-repeat: repeat-y;
	background-size: 100% 100%;
}

html{
	height: 100%;

}
.center--float{
	text-align: center;
}

/*
NAViGATION
*/
.nav.navbar-nav{
	width: 900px;
}
.container{
	background-color: #fff;
	margin-top: 15px;
}
.content--news{
	padding-top: 15px;
	padding-bottom: 15px;
}
.header--pane .container{
	background: rgba(255,255,255,0.93);
}
.header--pane .nav-wrapper{
	background: rgba(255,255,255,0);
}

.container--s2{
	margin-top: 15px;
	margin-left: 15px;
}

.logo{
	padding-right: 25px;
	width: 95px;
	opacity: 0.85;
}
.content--news--back{
	opacity: 0.93;
	z-index: 0;
	position: relative;
}

.logo:hover{
	opacity: 1;
}
.autoriz--pane{
	text-align: right;
	margin-right: 30px;
}
.autoriz__link{
	color: #fff;
	text-decoration: none;
}
.autoriz__link:hover{
	font-style: initial;
	color: #fff;
}
.autoriz__link:focus ,.autoriz__link:active{
	color: #fff;
	text-decoration: none;
}
.content--post{

	padding-bottom: 10px;


}
.content--post img{
}

.nav-wrapper{
	padding-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 15px;
	font-size: 15px;
	background-color: #fff;
}
img{width:100%;}

.navigation{
	font-size: 15px;
	font-weight: 600;
	padding-top: 5px;
}
.registration_autorization{
	font-size: 15px;
	font-weight: 600;
	padding-top: 5px
}
.nav.navbar-nav{
	margin: 7.5px -15px;
}

.navigation__link{
	color: #52575D;
	text-decoration: none;
	margin-right: 30px;
	margin-top: 5px;
}


.navigation__link:hover, .navigation__link:active, .navigation__link:focus{
	color: #093;
	text-decoration: none;
	margin-right: 30px;
}
.contacts{
	width: 10px;
}

.contacts .num{
	top: -30px;
	left: 35px;
	position: absolute;
}

.contacts:hover, .contacts:active, .contacts:focus{
	color: #f72464;
	text-decoration: none;
}

/*
HEADER
*/

.header {
	height: 700px;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	display: flex;
	align-items: center;
	z-index: 1;
}
.header .container{
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
}
.header__bg{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 40%;
	top: 0;
	overflow: hidden;
	background-color: #ffffff;
	background-image: url(../img/girl.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	z-index: -1;
}
.header__content{
	width: 750px;
	padding-top: 50px;
}
.header__title{
	color: #000000;
	font-size: 80px;
	font-family: 'Lora', serif;
	line-height: 1.5;
	margin-bottom: 25px;
}
.header__description{
	color: #52575d;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 75px;
	max-width: 650px;
}
.header__button{
	background-color: #F72464;
	font-size: 16px;
	color: #fff;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 7px;
	height: 40px;
	border-radius: 3px;
	display: inline-block;
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.4);
	transition: all 0.2s ease-in;
}
.header__button:hover{
	background-color: #da0f4d;
	text-decoration: none;
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.6);
	color: #FFF;
}

/* ----------------------

FOOTER

-------------------------- */
.footer{
	background-color: rgb(0, 0, 0);
	padding: 20px 0 25px;
	text-align: center;
}

.footer__nav{
	margin-bottom: 20px;
}
.footer-nav__link{
	font-size: 13px;
	color: rgb(255, 255, 255);
	line-height: 1.52;
	margin-right: 35px;
	text-decoration: none;
}
.footer-nav__link:last-child{
	margin-right: 0px;
}
.footer-nav__link:hover{
	color: #F72464;
	text-decoration: none;
}

.footer__socials{
	margin-bottom: 20px;
	color: #fff;
	font-size: 25px;

}
.footer__socials a{
	color: #fff;
	text-decoration: none;
	margin-right: 25px;
}
.footer__socials a:hover{
	color: #F72464;
}
.footer__socials a:last-child{
	margin-right: 0;
}

.footer__copyright{
	font-size: 12px;
	color: rgb(137, 137, 137);
}
/* ADMINPANE */
.new--post_form{
	text-decoration: none;
}
.news-content{
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	-webkit-line-clamp:5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.change-button{
	display: inline-block;
}
.news-buttons{
	display: inline-block;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.card-slider img {
	height: 313px;
}

.search--widget{
    padding-left: 15px;
    padding-bottom: 5px;
    padding-right: 15px;
}
.content--post--text{
	font-size: 17px;
	font-family: 'Lora', serif;
}
.content--post img {
	width: 278px;
	height: 213px;
}
.without-bot-margin{
	margin-bottom: 5px;
}
.slider--widget{
	padding-bottom: 5px;
}
.cal--tour{
	zoom: 0.91;
}
.dropdown:hover>.dropdown-menu {
	display: block;
}

.file-box {
    float: left;
    width: 220px;
}
.file-manager h5 {
    text-transform: uppercase;
}
.file-manager {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.folder-list li a {
    color: #666666;
    display: block;
    padding: 5px 0;
}
.folder-list li {
    border-bottom: 1px solid #e7eaec;
    display: block;
}
.folder-list li i {
    margin-right: 8px;
    color: #3d4d5d;
}
.category-list li a {
    color: #666666;
    display: block;
    padding: 5px 0;
}
.category-list li {
    display: block;
}
.category-list li i {
    margin-right: 8px;
    color: #3d4d5d;
}
.category-list li a .text-navy {
    color: #1ab394;
}
.category-list li a .text-primary {
    color: #1c84c6;
}
.category-list li a .text-info {
    color: #23c6c8;
}
.category-list li a .text-danger {
    color: #EF5352;
}
.category-list li a .text-warning {
    color: #F8AC59;
}
.file-manager h5.tag-title {
    margin-top: 20px;
}
.tag-list li {
    float: left;
}
.tag-list li a {
    font-size: 10px;
    background-color: #f3f3f4;
    padding: 5px 12px;
    color: inherit;
    border-radius: 2px;
    border: 1px solid #e7eaec;
    margin-right: 5px;
    margin-top: 5px;
    display: block;
}
.file {
    border: 1px solid #e7eaec;
    padding: 0;
    background-color: #ffffff;
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;
}
.file-manager .hr-line-dashed {
    margin: 15px 0;
}
.file .icon,
.file .image {
    height: 100px;
    overflow: hidden;
}
.file .icon {
    padding: 15px 10px;
    text-align: center;
}
.file-control {
    color: inherit;
    font-size: 11px;
    margin-right: 10px;
}
.file-control.active {
    text-decoration: underline;
}
.file .icon i {
    font-size: 70px;
    color: #dadada;
}
.file .file-name {
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7eaec;
}
.file-name small {
    color: #676a6c;
}
ul.tag-list li {
    list-style: none;
}
.corner {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 0.6em solid transparent;
    border-right: 0.6em solid #f1f1f1;
    border-bottom: 0.6em solid #f1f1f1;
    right: 0em;
    bottom: 0em;
}
a.compose-mail {
    padding: 8px 10px;
}
.mail-search {
    max-width: 300px;
}
.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}
.ibox.collapsed .ibox-content {
    display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
    content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
    content: "\f077";
}
.ibox:after,
.ibox:before {
    display: table;
}
.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}
.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}
.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}
a:hover{
    text-decoration:none;
}