<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <div th:fragment="header-css">
        <!--styles-->
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
        <!-- /jQuery -->
        <!-- BOOTSTRAP -->
        <link rel="stylesheet" type="text/css" th:href="@{/libs/bootstrap/css/bootstrap-grid.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/libs/bootstrap/css/bootstrap-reboot.min.css}"/>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
              crossorigin="anonymous">
        <!-- BOOTSTRAP -->
        <script type="text/javascript" th:src="@{/js/javascript.js}"></script>
        <script type="text/javascript" th:src="@{/libs/slick/slick.js}"></script>


        <!-- SLCKER -->
        <link rel="stylesheet" type="text/css" th:href="@{/libs/slick/slick.css}"/>
        <link rel="stylesheet" type="text/less" th:href="@{/libs/slick/slick-theme.less}"/>
        <link rel="stylesheet" type="text/scss" th:href="@{/libs/slick/slick-theme.scss}"/>
        <link rel="stylesheet" type="text/scss" th:href="@{/libs/slick/slick.scss}"/>
        <link rel="stylesheet" type="text/less" th:href="@{/libs/slick/slick.less}"/>


        <!-- /SLCKER -->

        <!-- Mine -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/main--admin.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
        <!-- /Mine -->
    </div>
</head>
<body>
<div th:fragment="header">
    <div class="header--pane">
        <div class="container">
            <!-- NAVIGATION BEGIN -->

            <nav class="nav-wrapper">
                <div class="container--s2">
                    <div class="header--row">
                        <div class="row">
                            <div class="col-md-1">
                                <a th:href="@{/home}"><img alt="" class="logo" th:src="@{/img/logo.png}"/></a>
                            </div>
                            <div class="navig--menu">
                                <div class="col-md-10">
                                    <!-- navigation begin -->
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <!-- DROPDOWN BEGIN -->
                                            <li class="dropdown">
                                                <a th:href="@{/home}" class="navigation__link">Новости</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="navigation__link" data-toggle="dropdown">ФСКО</a>
                                                <ul class="dropdown-menu">
                                                    <li><a th:href="@{/pages/structure_progress-fb-inKZ}" class="submenu--link">Стратегия развития Казахстанского футбола</a></li>
                                                    <li><a th:href="@{/pages/documents}" class="submenu--link">Документы</a></li>
                                                    <li><a th:href="@{/pages/structure}" class="submenu--link">Структура</a></li>
                                                    <li><a th:href="@{/pages/program_development}" class="submenu--link">Программа развития 2018-2022</a></li>
                                                    <li><a th:href="@{/pages/infra_structure}" class="submenu--link">Инфраструктура</a></li>

                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="navigation__link" data-toggle="dropdown">Турниры</a>
                                                <ul class="dropdown-menu">
                                                    <li><a th:href="@{/pages/mini_football_futzal}" class="submenu--link">Мини-футбол/Футзал</a></li>
                                                    <li><a th:href="@{/pages/kids_tournaments}" class="submenu--link">Детско-юношеский Футбол</a></li>
                                                    <li><a th:href="@{/pages/woman_football}" class="submenu--link">Женский Футбол</a></li>
                                                    <li><a th:href="@{/pages/mini_football_sredi-lic-ogr-vozmozh}" class="submenu--link">Мини-футбол/Футзал среди лиц с ограниченными возможностями</a></li>
                                                    <li><a th:href="@{/pages/amateur_tournaments}" class="submenu--link">Любительские турниры</a></li>
                                                    <li><a th:href="@{/pages/calendar}" class="submenu--link">Календарь соревнований</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="navigation__link" data-toggle="dropdown">Обучение</a>
                                                <ul class="dropdown-menu">
                                                    <li><a th:href="@{/pages/urok_football}" class="submenu--link">Урок Футбола</a></li>
                                                    <li><a th:href="@{/pages/coach_courses}" class="submenu--link">Тренерские курсы</a></li>
                                                    <li><a th:href="@{/pages/private_school}" class="submenu--link">Частные школы футбола</a></li>
                                                    <li><a th:href="@{/pages/dushsa}" class="submenu--link">ДЮСШ</a></li>
                                                    <li><a th:href="@{/pages/young_arbitr}" class="submenu--link">Школа молодого арбитра</a></li>
                                                    <li><a th:href="@{/pages/vistavka}" class="submenu--link">Выставка</a></li>
                                                    <li><a th:href="@{/pages/football_center}" class="submenu--link">Футбольный центр ФК «Тобол»</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a th:href="@{/pages/contacts}" class="navigation__link">Контакты</a>
                                            </li>
                                            <li>
                                                <a href="#" class="navigation__link" data-toggle="modal" data-target="#modalContactForm">Обратная связь</a>
                                                <div class="modal--contactus">
                                                    <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header text-center">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                    <h4 class="modal-title w-100 font-weight-bold">Форма обратной связи</h4>
                                                                </div>
                                                                <div class="modal-body mx-3">
                                                                    <div class="md-form mb-5">
                                                                        <i class="fas fa-user prefix grey-text"></i>
                                                                        <label data-error="wrong" data-success="right" for="form34">Ваше имя</label>
                                                                        <input type="text" id="form34" class="form-control validate">
                                                                    </div>

                                                                    <div class="md-form mb-5">
                                                                        <i class="fas fa-envelope prefix grey-text"></i>
                                                                        <label data-error="wrong" data-success="right" for="form29">Ваш e-mail</label>
                                                                        <input type="email" id="form29" class="form-control validate">
                                                                    </div>

                                                                    <div class="md-form mb-5">
                                                                        <i class="fas fa-tag prefix grey-text"></i>
                                                                        <label data-error="wrong" data-success="right" for="form32">Тема обращения</label>
                                                                        <input type="text" id="form32" class="form-control validate">
                                                                    </div>

                                                                    <div class="md-form">
                                                                        <i class="fas fa-pencil prefix grey-text"></i>
                                                                        <label data-error="wrong" data-success="right" for="form8">Текст сообщения</label>
                                                                        <textarea type="text" id="form8" class="md-textarea form-control" rows="4"></textarea>
                                                                    </div>

                                                                </div>
                                                                <div class="modal-footer d-flex justify-content-center">
                                                                    <button class="btn btn-unique">Отправить<i class="fas fa-paper-plane-o ml-1"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <a th:href="@{/pages/about}" class="navigation__link">О сайте</a>
                                            </li>
                                            <!-- DROPDOWN END -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </nav>
            <!-- NAVIGATION END -->
        </div>

    </div>

</div>

</body>
</html>