<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ФСКО</title>
    <div th:replace="parts/header :: header-css"></div>
</head>
<body>

<!--header part-->
<div th:replace="parts/header :: header"></div>
<!--/header-part-->

<!-- CONTENT BEGIN -->
<div class="content--news--back">
    <div class="container">
        <div class="content--news">
            <div class="row">
                <div class="col-md-9">
                    <div class="content--post" th:each="post, index : ${posts}">
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <div class="card bg-success">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <!--<img th:src="@{'/img_src/' + ${post.urlImg.get(0)}}">-->
                                            </div>
                                            <div class="col-md-8">
                                                <div class="news-title">
                                                    <a th:href="@{|/admin/page?id=*{post.id}|}"><h5 th:text="${post.title}"></h5></a>
                                                </div>
                                                <div class="news-cats">
                                                    <ul class="list-unstyled list-inline mb-1">
                                                        <li class="list-inline-item">
                                                            <i class="fa fa-folder-o text-danger"></i>
                                                            <a href="#">
                                                                <small th:text="${post.user.name + ' ' + post.user.lastName}"></small>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <i class="fa fa-folder-o text-danger"></i>
                                                            <a href="#">
                                                                <small th:text="${#dates.format(post.date, 'dd-MM-yyyy')}"></small>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="news-content">
                                                   <div class="test">
                                                       <p th:text="${post.content}"></p>
                                                   </div>
                                                </div>
                                                <div class="news-buttons">
                                                    <button type="button" class="btn btn-outline-danger btn-sm">Читать
                                                    </button>
                                                </div>
                                                <div class="change-button">
                                                    <a th:href="@{|/admin/page?id=*{post.id}|}" class="navigation__link" sec:authorize="hasAuthority('ADMIN')">Изменить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-12">
                           <div class="center--float"> <nav aria-label="Page navigation example">
                               <ul class="pagination">
                                   <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                                       <a class="page-link" th:href="@{|home?page=${pageNumber}|}" th:text=${pageNumber}>1</a>
                                   </li>
                               </ul>
                           </nav></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="search--widget">
                            <!-- Search Widget -->
                            <div class="card my-4">
                                <h5 class="card-header">Поиск</h5>
                                <div class="card-body">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Введите слово...">
                                        <span class="input-group-btn">
                          <button class="btn btn-secondary" type="button">Искать!</button>
                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <h5 class="card-header">Мини-галерея</h5>
                                <div class="card-slider">
                                    <div class="slider--img"><img src="https://pp.userapi.com/c849336/v849336340/171ec8/Nq7dTZOH1f8.jpg"></div>
                                    <div class="slider--img"><img src="https://pp.userapi.com/c845521/v845521406/166795/FOH8T19qY_0.jpg"></div>
                                    <div class="slider--img"><img src="https://pp.userapi.com/c639526/v639526369/14bd9/PR7raKuoiVI.jpg"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- CONTENT END -->

</div>



</body>

</html>