<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ФСКО</title>
    <div th:replace="parts/header :: header-css"></div>
    <script src="../../js/action_post.js" sec:authorize="hasAuthority('ADMIN')"></script>
</head>
<body>

<!--header part-->
<div th:replace="parts/header :: header"></div>
<!--/header-part-->

<!-- CONTENT BEGIN -->
<div class="content--news--back">
    <div class="container">
        <div class="content--news">
            <div class="row">
                <div class="col-md-9">
                    <div class="content--post" th:each="post, index : ${posts}">
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <div class="card bg-success">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img th:src="@{'/img_src/' + *{post.urlImg}}">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="news-title">
                                                    <h4 class="without-bot-margin" th:text="${post.title}"></h4>
                                                </div>
                                                <div class="news-cats">
                                                    <ul class="list-unstyled list-inline mb-1">
                                                        <li class="list-inline-item">
                                                            <i class="fa fa-folder-o text-danger"></i>
                                                            <a href="#">
                                                                <small th:text="${post.user.name + ' ' + post.user.lastName}"></small>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <i class="fa fa-folder-o text-danger"></i>
                                                            <a href="#">
                                                                <small th:text="${#dates.format(post.date, 'dd-MM-yyyy')}"></small>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="news-content">
                                                   <div class="test">
                                                       <p th:text="${post.content}"></p>
                                                   </div>
                                                </div>
                                                <div class="news-buttons">
                                                    <a th:href="@{|/pages/post_page?id=*{post.id}|}">
                                                        <button type="button" class="btn btn-outline-danger btn-sm">Читать</button>
                                                    </a>
                                                </div>
                                                <div class="change-button">
                                                    <a th:href="@{|/admin/page?id=*{post.id}|}" class="navigation__link" sec:authorize="hasAuthority('ADMIN')">Изменить</a>
                                                    <input class="navigation__link" data-th-attr="post_id=${post.id}" id="card__button-btn" sec:authorize="hasAuthority('ADMIN')" value="Удалить" type="button">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-12">
                           <div class="center--float"> <nav aria-label="Page navigation example">
                               <ul class="pagination">
                                   <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                                       <a class="page-link" th:href="@{|home?page=${pageNumber}|}" th:text=${pageNumber}>1</a>
                                   </li>
                               </ul>
                           </nav></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                <div th:replace="parts/widgets :: widget"></div>
                </div>
                </div>
        </div>

    </div>
    <!-- CONTENT END -->

</div>



</body>

</html>