/* 
font-family: 'Muli', sans-serif;
font-family: 'Lora', serif;
*/
*{

}
body {
	background-image:url("../img/background.jpg");
	background-repeat: repeat-y;
	background-size: 100% 100%;
}

html{
	height: 100%;

}
.center--float{
	text-align: center;
}

/*
NAViGATION
*/
.nav.navbar-nav{
	width: 900px;
}
.container{
	background-color: #fff;
	margin-top: 15px;
}
.content--news{
	padding-top: 15px;
	padding-bottom: 15px;
}
.header--pane .container{
	background: rgba(255,255,255,0.93);
}
.header--pane .nav-wrapper{
	background: rgba(255,255,255,0);
}

.container--s2{
	margin-top: 15px;
	margin-left: 15px;
}

.logo{
	padding-right: 25px;
	width: 95px;
	opacity: 0.85;
}
.content--news--back{
	opacity: 0.93;
	z-index: 0;
	position: relative;
}

.logo:hover{
	opacity: 1;
}
.autoriz--pane{
	text-align: right;
	margin-right: 30px;
}
.autoriz__link{
	color: #fff;
	text-decoration: none;
}
.autoriz__link:hover{
	font-style: initial;
	color: #fff;
}
.autoriz__link:focus ,.autoriz__link:active{
	color: #fff;
	text-decoration: none;
}
.content--post{

	padding-bottom: 10px;


}
.content--post img{
}

.nav-wrapper{
	padding-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 15px;
	font-size: 15px;
	background-color: #fff;
}
img{width:100%;}

.navigation{
	font-size: 15px;
	font-weight: 600;
	padding-top: 5px;
}
.registration_autorization{
	font-size: 15px;
	font-weight: 600;
	padding-top: 5px
}
.nav.navbar-nav{
	margin: 7.5px -15px;
}

.navigation__link{
	color: #52575D;
	text-decoration: none;
	margin-right: 30px;
	margin-top: 5px;
}


.navigation__link:hover, .navigation__link:active, .navigation__link:focus{
	color: #093;
	text-decoration: none;
	margin-right: 30px;
}
.contacts{
	width: 10px;
}

.contacts .num{
	top: -30px;
	left: 35px;
	position: absolute;
}

.contacts:hover, .contacts:active, .contacts:focus{
	color: #f72464;
	text-decoration: none;
}

/*
HEADER
*/

.header {
	height: 700px;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	display: flex;
	align-items: center;
	z-index: 1;
}
.header .container{
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
}
.header__bg{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 40%;
	top: 0;
	overflow: hidden;
	background-color: #ffffff;
	background-image: url(../img/girl.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	z-index: -1;
}
.header__content{
	width: 750px;
	padding-top: 50px;
}
.header__title{
	color: #000000;
	font-size: 80px;
	font-family: 'Lora', serif;
	line-height: 1.5;
	margin-bottom: 25px;
}
.header__description{
	color: #52575d;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 75px;
	max-width: 650px;
}
.header__button{
	background-color: #F72464;
	font-size: 16px;
	color: #fff;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 7px;
	height: 40px;
	border-radius: 3px;
	display: inline-block;
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.4);
	transition: all 0.2s ease-in;
}
.header__button:hover{
	background-color: #da0f4d;
	text-decoration: none;
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.6);
	color: #FFF;
}

/* ----------------------

FOOTER

-------------------------- */
.footer{
	background-color: rgb(0, 0, 0);
	padding: 20px 0 25px;
	text-align: center;
}

.footer__nav{
	margin-bottom: 20px;
}
.footer-nav__link{
	font-size: 13px;
	color: rgb(255, 255, 255);
	line-height: 1.52;
	margin-right: 35px;
	text-decoration: none;
}
.footer-nav__link:last-child{
	margin-right: 0px;
}
.footer-nav__link:hover{
	color: #F72464;
	text-decoration: none;
}

.footer__socials{
	margin-bottom: 20px;
	color: #fff;
	font-size: 25px;

}
.footer__socials a{
	color: #fff;
	text-decoration: none;
	margin-right: 25px;
}
.footer__socials a:hover{
	color: #F72464;
}
.footer__socials a:last-child{
	margin-right: 0;
}

.footer__copyright{
	font-size: 12px;
	color: rgb(137, 137, 137);
}
/* ADMINPANE */
.new--post_form{
	text-decoration: none;
}
.news-content{
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	-webkit-line-clamp:5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.change-button{
	display: inline-block;
}
.news-buttons{
	display: inline-block;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.card-slider img {

}
.search--widget{
    padding-left: 15px;
    padding-bottom: 5px;
    padding-right: 15px;
}