            <!DOCTYPE html>
            <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
            <head>
                  <meta charset="UTF-8">
                  <title>ФСКО</title>
                  <div th:replace="parts/header :: header-css"></div>

            </head>
            <body>

            <!--header part-->
            <div th:replace="parts/header :: header"></div>
            <!--/header-part-->
<!-- CONTENT BEGIN -->
<div class="content--news--back">
      <div class="container float-right">
            <div class="content--news">
                <div class="row">
                  <div class="col-md-9">
                       <div class="content--post">
                    <h2 class="title--about">ОЮЛ «Футбольный Союз Костанайской области»</h2>
                             <p>Способы связи: </p>
                             <p>Контактное лицо:	Искаков Булат Серкешович</p>
                             <p>Телефон:	87015357333</p>
                             <p>Email:	Iskakov_ibs@mail.ru(личный), fcko@inbox.ru</p>
                             <p>Адресофиса:	г.Костанай, ул. 1 Мая, 153 (здание стадиона), каб. 207</p>
                       </div>


</div>

</div>
</div>

</div>
<!-- CONTENT END -->

</div> 

<!-- SLCKER -->
<link rel="stylesheet" type="text/css" href="libs/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="libs/slick/slick-theme.css"/>
<script type="text/javascript" src="libs/slick/slick.min.js"></script>
<!-- /SLCKER -->

<!-- JavaScript -->
<script src="js/javascript.js" type="javascript/text"></script>
<!-- JavaScript -->

</body>    

</html>