<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <div th:replace="parts/header :: header-css"></div>
</head>
<body>
<!--header part-->
<div th:replace="parts/header :: header"></div>
<!--/header-part-->
<!-- CONTENT BEGIN -->
<div class="content--news--back">
  <div class="container">
    <div class="content--news">
      <div class="row">
       <!-- Start Shopping-Cart -->
       <div class="shopping-cart">
        <div class="row">
          <div class="col-md-12">
            <div class="cart-title">
              <div class="lub-tour one--hun_percent programm--teach">
                <p><b> </b></p>
                <table border="1"><tr><td><p><b>№</b></p>
                </td>
                <td><p><b>Наименование спортивного соревнования</b></p>
                </td>
                <td colspan="2"><p><b>Сроки и место проведения спортивного соревнования</b></p>
                </td>
                <td><p><b>Организации, участвующие в спортивном соревновании</b></p>
                </td>
                <td><p><b>Состав команды участвующей в спортивном соревновании</b></p>
                </td>
                <td><p><b>Организатор спортивного соревнования</b></p>
                </td>
                <td colspan="3"><p><b>Организации командирующие участников спортивного соревнования</b></p>
                </td>
              </tr>
              <tr><td><p>1.</p>
              </td>
              <td colspan="2"><p>Открытый зимний турнир по футболу среди любителей</p>
              </td>
              <td><p>Январь</p>
                <p>г.Костанай</p>
              </td>
              <td><p>Команды городов и районов</p>
              </td>
              <td><p>По положению</p>
              </td>
              <td colspan="2">
                <p>ОЮЛ ФСКО</p>
              </td>
              <td><p>ОФКиС,</p>
                <p>ДЮСШ</p>
              </td>
              <td>
              </td>
            </tr>
            <tr><td><p>2.</p>
            </td>
            <td colspan="2"><p>Открытый турнир по футболу среди любителей, на Кубок акима Мендыгаринского района</p>
            </td>
            <td><p>Январь</p>
              <p>Мендыгаринский р-н</p>
            </td>
            <td><p>Команды городов и районов</p>
            </td>
            <td><p>По положению</p>
            </td>
            <td colspan="2"><p>ГУ &quot;Отдел физической культуры и спорта акимата Мендыгаринского района&quot;</p>
            </td>
            <td><p>ОФКиС,ДЮСШ</p>
            </td>
            <td>
            </td>
          </tr>
          <tr><td><p>3.</p>
          </td>
          <td colspan="2"><p>Открытый зимний турнир по футболу среди любителей</p>
          </td>
          <td><p>Февраль</p>
            <p>г.Рудный</p>
          </td>
          <td><p>Команды городов и районов</p>
          </td>
          <td><p>По положению</p>
          </td>
          <td colspan="2"><p>Е.Сластников</p>
            <p>ОЮЛ ФСКО</p>
          </td>
          <td><p>ОФКиС,ДЮСШ</p>
          </td>
          <td>
          </td>
        </tr>
        <tr><td><p>4.</p>
        </td>
        <td colspan="2"><p>Открытый турнир по футболу среди любителей «Наурыз мейрамы»</p>
        </td>
        <td><p>Март</p>
          <p>г.Костанай</p>
        </td>
        <td><p>Команды городов и районов</p>
        </td>
        <td><p>По положению</p>
        </td>
        <td colspan="2">
          <p>ОЮЛ ФСКО</p>
        </td>
        <td><p>ОФКиС,ДЮСШ</p>
        </td>
        <td>
        </td>
      </tr>
      <tr><td><p>5.</p>
      </td>
      <td colspan="2"><p>Открытый турнир по футболу среди любителей</p>
      </td>
      <td><p>Апрель</p>
        <p>г.Костанай</p>
      </td>
      <td><p>Команды городов и районов</p>
      </td>
      <td><p>По положению</p>
      </td>
      <td colspan="2"><p>ОЮЛ ФСКО</p>
      </td>
      <td><p>ОФКиС,ДЮСШ</p>
      </td>
      <td>
      </td>
    </tr>
    <tr><td><p>6.</p>
    </td>
    <td colspan="2"><p>Открытый Кубок города по футболу среди любителей</p>
    </td>
    <td><p>Май</p>
      <p>г.Лисаковск</p>
    </td>
    <td><p>Команды городов и районов</p>
    </td>
    <td><p>По положению</p>
    </td>
    <td colspan="2"><p>ОЮЛ ФСКО</p>
      <p>А.Бойчук</p>
    </td>
    <td><p>ОФКиС,ДЮСШ</p>
    </td>
    <td>
    </td>
  </tr>
  <tr><td><p>7.</p>
  </td>
  <td colspan="2"><p>Открытый областной турнир по футболу среди любителей, посвященный победе в Великой Отечественной войне</p>
  </td>
  <td><p>Май</p>
    <p>Карасуский р-н</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td colspan="2"><p>ГУ &quot;Отдел физической культуры и спорта акимата Карасуского района&quot;</p>
    <p>ТОО «ТПК Карасу»</p>
  </td>
  <td><p>ОФКиС,ДЮСШ</p>
  </td>
  <td>
  </td>
</tr>
<tr><td><p>8.</p>
</td>
<td colspan="2"><p>Открытый турнир по футболу среди любителей посвященный Победе в ВОв</p>
</td>
<td><p>Май</p>
  <p>Рудный</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td colspan="2">
  <p>Е.Сластников</p>
  <p>ОЮЛ ФСКО</p>
</td>
<td><p>ОФКиС,ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>9.</p>
</td>
<td colspan="2"><p>Чемпионат области по футболу среди любительских команд</p>
</td>
<td><p>Май-сентябрь</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td colspan="2"><p>ОЮЛ ФСКО</p>
</td>
<td><p>ОФКиС,ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>10.</p>
</td>
<td colspan="2"><p>Открытый турнир по футболу среди любителей</p>
</td>
<td><p>Июнь</p>
  <p>г.Костанай</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td colspan="2"><p>ОЮЛ ФСКО</p>
</td>
<td><p>ОФКиС,ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>11.</p>
</td>
<td colspan="2"><p>Открытый турнир по футболу среди любителей посвященный Дню столицы</p>
</td>
<td><p>Июль</p>
  <p>г.Костанай</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td colspan="2"><p>ОЮЛ ФСКО</p>
</td>
<td><p>ОФКиС,ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>12.</p>
</td>
<td colspan="2"><p>Открытый турнир по футболу среди любителей посвященный Дню спорта</p>
</td>
<td><p>Август</p>
  <p>г.Костанай</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td colspan="2"><p>ОЮЛ ФСКО</p>
</td>
<td><p>ОФКиС,ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>13.</p>
</td>
<td colspan="2"><p>Открытый Кубок города по футболу среди любителей</p>
</td>
<td><p>Август</p>
  <p>г.Аркалык</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td colspan="2"><p>ГУ &quot;Отдел физической культуры и спорта акимата г.Аркалыка&quot;</p>
  <p>ОЮЛ ФСКО</p>
</td>
<td><p>ОФКиС,ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>14.</p>
</td>
<td colspan="2"><p>Открытое Первенство Костанайской области по футболу на призы ССГПО</p>
</td>
<td><p>По назначению</p>
  <p>г.Рудный</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td colspan="2"><p>ССГПО</p>
  <p>Е.Сластников</p>
</td>
<td><p>ОФКиС,ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>15.</p>
</td>
<td colspan="2"><p>Открытый турнир по футболу среди любителей Кубок «Золотая осень»</p>
</td>
<td><p>Сентябрь</p>
  <p>г.Рудный</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td colspan="2"><p>ОЮЛ ФСКО</p>
  <p>Е.Сластников</p>
</td>
<td><p>ОФКиС,ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>16.</p>
</td>
<td colspan="2"><p>Открытый турнир по футболу среди любителей, посвященный Дню Первого Президента</p>
</td>
<td><p>Ноябрь</p>
  <p>г.Костанай</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td colspan="2"><p>ОЮЛ ФСКО</p>
</td>
<td><p>ОФКиС,ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>17.</p>
</td>
<td colspan="2"><p>Открытый турнир по футболу среди любителей посвященный Дню Независимости Республики Казахстан</p>
</td>
<td><p>Декабрь</p>
  <p>г.Костанай</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td colspan="2"><p>ОЮЛ ФСКО</p>
</td>
<td><p>ОФКиС,ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>18.</p>
</td>
<td colspan="2"><p>Первенство Республики Казахстан по футболу среди любительских команд <b>Конференция «Север-запад»</b></p>
</td>
<td><p>По назначению</p>
</td>
<td><p>Любительские команды</p>
</td>
<td><p>20</p>
</td>
<td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  <p>ОЮЛ ФСКО</p>
</td>
<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
</td>
<td>
</td>
</tr>
<tr><td><p>19.</p>
</td>
<td colspan="2"><p>Первенство Республики Казахстан по футболу среди любительских команд</p>
  <p><b>Финал</b></p>
</td>
<td><p>По назначению</p>
</td>
<td><p>Любительские команды</p>
</td>
<td><p>20</p>
</td>
<td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  <p>ОЮЛ ФСКО</p>
</td>
<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
</td>
<td>
</td>
</tr>
<tr><td><p>20.</p>
</td>
<td colspan="2"><p>Кубок «Регионов Республики Казахстан»</p>
</td>
<td><p>По назначению</p>
</td>
<td><p>Любительские команды</p>
</td>
<td><p>20</p>
</td>
<td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  <p>ОЮЛ ФСКО</p>
</td>
<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области», ОЮЛ ФСКО</p>
</td>
<td>
</td>
</tr>
<tr><td><p>21.</p>
</td>
<td colspan="2"><p>Студенческая Лига футбола (мини-футбол)</p>
</td>
<td><p>Сентябрь-октябрь</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td colspan="2"><p>ОЮЛ ФСКО</p>
</td>
<td><p>ОФКиС,ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
</table>

</div>
</div>
</div>
</div>
</div>
<!-- End Shopping-Cart -->
</div>
</div>

</div>
<!-- CONTENT END -->

</div> 

</body>
</html>