<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <div th:replace="parts/header :: header-css"></div>
</head>
<body>
<!--header part-->
<div th:replace="parts/header :: header"></div>
<!--/header-part-->
            <!-- CONTENT BEGIN -->
            <div class="content--news--back">
              <div class="container">
                <div class="content--news">
                  <div class="row">
           <!-- Start Shopping-Cart -->
           <div class="shopping-cart">
      
    <div class="cal--tour">
      <p><b> </b></p>
      <p><b>Единый региональный календарь</b></p>
      <p><b>спортивно-массовых мероприятий Костанайской области на 2019 год</b></p>
      <p><b> </b></p>
      <table border="1"><tr><td><p><b>№</b></p>
      </td>
      <td colspan="2"><p><b>Наименование спортивного соревнования</b></p>
      </td>
      <td><p><b>Сроки и место проведения спортивного соревнования</b></p>
      </td>
      <td><p><b>Организации, участвующие в спортивном соревновании</b></p>
      </td>
      <td><p><b>Состав команды участвующей в спортивном соревновании</b></p>
      </td>
      <td colspan="2"><p><b>Количество спортсменов участвующих в спортивном соревновании</b></p>
      </td>
      <td colspan="2"><p><b>Количество тренеров участвующих в спортивном соревновании</b></p>
      </td>
      <td colspan="2"><p><b>Количество судей обслуживающих спортивное соревнование</b></p>
      </td>
      <td colspan="2"><p><b>Организатор спортивного соревнования</b></p>
      </td>
      <td><p><b>Организации командирующие участников спортивного соревнования</b></p>
      </td>
    </tr>
    <tr><td><p><b>1</b></p>
    </td>
    <td colspan="2"><p><b>2</b></p>
    </td>
    <td><p><b>3</b></p>
    </td>
    <td><p><b>4</b></p>
    </td>
    <td><p><b>5</b></p>
    </td>
    <td colspan="2"><p><b>6</b></p>
    </td>
    <td colspan="2"><p><b>7</b></p>
    </td>
    <td colspan="2"><p><b>8</b></p>
    </td>
    <td colspan="2"><p><b>9</b></p>
    </td>
    <td><p><b>10</b></p>
    </td>
  </tr>
  <tr><td colspan="15">
    <b>Футбол</b>

  </td>
  </tr>
  <tr><td><p>1.</p>
  </td>
  <td><p>Открытый зимний турнир по футболу среди юн.2008,2010 гг.р.</p>
  </td>
  <td colspan="2"><p>Февраль</p>
    <p>г.Лисаковск</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>20</p>
  </td>
  <td><p>18</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>ДЮСШ г.Лисаковск</p>
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>2.</p>
  </td>
  <td><p>Первенство области по футболу среди ДЮСШ юн.2003 г.р.</p>
  </td>
  <td colspan="2"><p>Апрель</p>
    <p>г.Лисаковск</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>20</p>
  </td>
  <td><p>18</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>3.</p>
  </td>
  <td><p>Первенство области по футболу среди ДЮСШ юн.2004г.р.</p>
  </td>
  <td colspan="2"><p>Апрель</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>20</p>
  </td>
  <td><p>18</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>4.</p>
  </td>
  <td><p>Первенство области по футболу среди ДЮСШ юн.2005г.р.</p>
  </td>
  <td colspan="2"><p>Апрель</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>20</p>
  </td>
  <td><p>18</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>5.</p>
  </td>
  <td><p>Первенство области по футболу среди ДЮСШ юн.2006 г.р.</p>
  </td>
  <td colspan="2"><p>Май</p>
    <p>г.Лисаковск</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>20</p>
  </td>
  <td><p>18</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>6.</p>
  </td>
  <td><p>Открытый областной турнир по футболу посвященный памяти учителя физической культуры В.Блудова среди юношей 2006-2007 гг.р</p>
  </td>
  <td colspan="2"><p>Май</p>
    <p>Камыстинский р-н с.Камысты</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ &quot;Отдел физической культуры и спорта акимата Камыстинского района&quot;</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>7.</p>
  </td>
  <td><p>Детская футбольная лига среди юношей 2005-2006, 2007-2008, 2009 гг.р. и младше</p>
  </td>
  <td colspan="2"><p>Май-август</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>КГУ ДЮСШ футбола</p>
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>8.</p>
  </td>
  <td><p>Первенство области по футболу среди ДЮСШ юн.2007 г.р.</p>
  </td>
  <td colspan="2"><p>Июнь</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>20</p>
  </td>
  <td><p>18</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>9.</p>
  </td>
  <td><p>Открытый турнир по футболу среди юношей</p>
  </td>
  <td colspan="2"><p>Июнь-июль</p>
    <p>г.Лисаковск</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>20</p>
  </td>
  <td><p>18</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>КБРУ</p>
    <p>г.Лисаковск</p>
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>10.</p>
  </td>
  <td><p>Открытый турнир по футболу посвященный Международному дню защиты ребенка юн.2008 г.р.</p>
  </td>
  <td colspan="2"><p>Июнь</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>АО «Технодом Арена»</p>
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>11.</p>
  </td>
  <td><p>Открытый областной турнир по футболу среди юн.2005 г.р.</p>
  </td>
  <td colspan="2"><p>Июль-август</p>
    <p>г.Лисаковск</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>20</p>
  </td>
  <td><p>18</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>ДЮСШ г.Лисаковск</p>
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>12.</p>
  </td>
  <td><p>Открытый турнир по футболу посв.памяти Б.Копжасарова ср.юн.2006 г.р.</p>
  </td>
  <td colspan="2"><p>Август</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>20</p>
  </td>
  <td><p>18</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
    <p>КГУ ДЮСШ футбола г.Костанай</p>
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>13.</p>
  </td>
  <td><p>Открытый областной турнир по футболу памяти война-интернационалиста Артура Мазукаева, среди юношей 2007-2008 г.р</p>
  </td>
  <td colspan="2"><p>Сентябрь</p>
    <p>Камыстнирский р-н с.Камысты</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ &quot;Отдел физической культуры и спорта акимата Камыстинского района&quot;</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>14.</p>
  </td>
  <td><p>Открытый турнир по футболу посв.памяти детcких тренеров Е.Сватко и А.Тулба, Р.Ситдикова</p>
    <p>среди юн.2005 г.р.</p>
  </td>
  <td colspan="2"><p>Сентябрь</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>20</p>
  </td>
  <td><p>18</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
    <p>КГУ ДЮСШ футбола г.Костанай</p>
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>15.</p>
  </td>
  <td><p>Открытый турнир по футболу среди юношей</p>
  </td>
  <td colspan="2"><p>Сентябрь</p>
    <p>г.Лисаковск</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>20</p>
  </td>
  <td><p>18</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>ДЮСШ г.Лисаковск</p>
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>16.</p>
  </td>
  <td><p>Детская лига по футболу</p>
  </td>
  <td colspan="2"><p>Сентябрь-октябрь</p>
    <p>Мендыгаринский р-н п.Мендыгара</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ &quot;Отдел физической культуры и спорта акимата Мендыгаринского района ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>17.</p>
  </td>
  <td><p>Открытый турнир по футболу посвященный Дню учителя</p>
  </td>
  <td colspan="2"><p>Октябрь</p>
    <p>Мендыгаринский р-н</p>
    <p>п.Мендыгара</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ &quot;Отдел физической культуры и спорта акимата Мендыгаринского района ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>18.</p>
  </td>
  <td><p>Открытый турнир по футболу на приз ФК «Тобол» среди юношей 2007 г.р.</p>
  </td>
  <td colspan="2"><p>Октябрь</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
    <p>ФК «Тобол»</p>
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>19.</p>
  </td>
  <td>
    <p>Кубок Детской футбольной лиги среди юношей 2007-2008 гг.р., посвященный Дню Первого президента</p>
  </td>
  <td colspan="2">
    <p>Ноябрь-декабрь</p>
    <p>г.Костанай</p>
  </td>
  <td>
    <p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
    <p>В.Чечет</p>
    <p>К.Гаркуша</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>20.</p>
  </td>
  <td><p>Кубок Детской футбольной лиги среди юношей 2009 г.р. и младше, посвященный Дню Независимости РК</p>
  </td>
  <td colspan="2"><p>Ноябрь-декабрь</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
    <p>ОЮЛ ФСКО</p>
    <p>В.Чечет</p>
    <p>К.Гаркуша</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>21.</p>
  </td>
  <td><p>Открытое Первенство области по мини футболу среди юношей 2006-2007 гг.р.</p>
  </td>
  <td colspan="2"><p>Март</p>
    <p>г.Рудный</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>22.</p>
  </td>
  <td><p>Открытое Первенство области по мини футболу среди юношей 2003-2004 гг.р.</p>
  </td>
  <td colspan="2"><p>Май</p>
    <p>г.Рудный</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>23.</p>
  </td>
  <td><p>Открытое Первенство области по мини футболу среди юношей 2010 г.р.</p>
  </td>
  <td colspan="2"><p>Июль</p>
    <p>г.Рудный</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>24.</p>
  </td>
  <td><p>Открытое Первенство области по мини футболу среди юношей 2011-2012 гг.р.</p>
  </td>
  <td colspan="2"><p>Октябрь</p>
    <p>г.Рудный</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>25.</p>
  </td>
  <td><p>Открытое Первенство области по мини футболу среди юношей 2008-2009 гг.р.</p>
  </td>
  <td colspan="2"><p>Декабрь</p>
    <p>г.Рудный</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>26.</p>
  </td>
  <td><p>Первенство Республики Казахстан по футболу «А» среди юношеских и молодежных команд Футбольных центров и Академий (2001,2002,2003,2004,2005,2006, 2007 гг.р.)</p>
  </td>
  <td colspan="2"><p>По назначению</p>
  </td>
  <td><p>Сборные команды областей, г.Астана, г.Алматы</p>
  </td>
  <td><p>20</p>
  </td>
  <td><p>18</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>КФФ</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  </td>
  </tr>
  <tr><td><p>27.</p>
  </td>
  <td><p>Первенство Республики Казахстан по футболу среди юношеских сборных команд областей и гг.Астана и Алматы (2003,2004,2005,2006, 2007 гг.р.)</p>
  </td>
  <td colspan="2"><p>По назначению</p>
  </td>
  <td><p>Сборные команды областей, г.Астана, г.Алматы</p>
  </td>
  <td><p>20</p>
  </td>
  <td><p>18</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>КФФ</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  </td>
  </tr>
  <tr><td><p>28.</p>
  </td>
  <td><p>Открытый зимний турнир по футболу среди любителей</p>
  </td>
  <td colspan="2"><p>Январь</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,</p>
    <p>ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>29.</p>
  </td>
  <td><p>Открытый турнир по футболу среди любителей, на Кубок акима Мендыгаринского района</p>
  </td>
  <td colspan="2"><p>Январь</p>
    <p>Мендыгаринский р-н</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ &quot;Отдел физической культуры и спорта акимата Мендыгаринского района&quot;</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>30.</p>
  </td>
  <td><p>Открытый зимний турнир по футболу среди любителей</p>
  </td>
  <td colspan="2"><p>Февраль</p>
    <p>г.Рудный</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>Е.Сластников</p>
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>31.</p>
  </td>
  <td><p>Открытый турнир по футболу среди любителей «Наурыз мейрамы»</p>
  </td>
  <td colspan="2"><p>Март</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>32.</p>
  </td>
  <td><p>Открытый турнир по футболу среди любителей</p>
  </td>
  <td colspan="2"><p>Апрель</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>33.</p>
  </td>
  <td><p>Открытый Кубок города по футболу среди любителей</p>
  </td>
  <td colspan="2"><p>Май</p>
    <p>г.Лисаковск</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
    <p>А.Бойчук</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>34.</p>
  </td>
  <td><p>Открытый областной турнир по футболу среди любителей, посвященный победе в Великой Отечественной войне</p>
  </td>
  <td colspan="2"><p>Май</p>
    <p>Карасуский р-н</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ &quot;Отдел физической культуры и спорта акимата Карасуского района&quot;</p>
    <p>ТОО «ТПК Карасу»</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>35.</p>
  </td>
  <td><p>Открытый турнир по футболу среди любителей посвященный Победе в ВОв</p>
  </td>
  <td colspan="2"><p>Май</p>
    <p>Рудный</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
    <p>Е.Сластников</p>
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>36.</p>
  </td>
  <td><p>Чемпионат области по футболу среди любительских команд</p>
  </td>
  <td colspan="2"><p>Май-сентябрь</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>37.</p>
  </td>
  <td><p>Открытый турнир по футболу среди любителей</p>
  </td>
  <td colspan="2"><p>Июнь</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>38.</p>
  </td>
  <td><p>Открытый турнир по футболу среди любителей посвященный Дню столицы</p>
  </td>
  <td colspan="2"><p>Июль</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>39.</p>
  </td>
  <td><p>Открытый турнир по футболу среди любителей посвященный Дню спорта</p>
  </td>
  <td colspan="2"><p>Август</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>40.</p>
  </td>
  <td><p>Открытый Кубок города по футболу среди любителей</p>
  </td>
  <td colspan="2"><p>Август</p>
    <p>г.Аркалык</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ &quot;Отдел физической культуры и спорта акимата г.Аркалыка&quot;</p>
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>41.</p>
  </td>
  <td><p>Открытое Первенство Костанайской области по футболу на призы ССГПО</p>
  </td>
  <td colspan="2"><p>По назначению</p>
    <p>г.Рудный</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ССГПО</p>
    <p>Е.Сластников</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>42.</p>
  </td>
  <td><p>Открытый турнир по футболу среди любителей Кубок «Золотая осень»</p>
  </td>
  <td colspan="2"><p>Сентябрь</p>
    <p>г.Рудный</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
    <p>Е.Сластников</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>43.</p>
  </td>
  <td><p>Открытый турнир по футболу среди любителей, посвященный Дню Первого Президента</p>
  </td>
  <td colspan="2"><p>Ноябрь</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>44.</p>
  </td>
  <td><p>Открытый турнир по футболу среди любителей посвященный Дню Независимости Республики Казахстан</p>
  </td>
  <td colspan="2"><p>Декабрь</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>45.</p>
  </td>
  <td><p>Первенство Республики Казахстан по футболу среди любительских команд <b>Конференция «Север-запад»</b></p>
  </td>
  <td colspan="2"><p>По назначению</p>
  </td>
  <td><p>Любительские команды</p>
  </td>
  <td><p>20</p>
  </td>
  <td><p>18</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  </td>
  </tr>
  <tr><td><p>46.</p>
  </td>
  <td><p>Первенство Республики Казахстан по футболу среди любительских команд</p>
    <p><b>Финал</b></p>
  </td>
  <td colspan="2"><p>По назначению</p>
  </td>
  <td><p>Любительские команды</p>
  </td>
  <td><p>20</p>
  </td>
  <td><p>18</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  </td>
  </tr>
  <tr><td><p>47.</p>
  </td>
  <td><p>Кубок «Регионов Республики Казахстан»</p>
  </td>
  <td colspan="2"><p>По назначению</p>
  </td>
  <td><p>Любительские команды</p>
  </td>
  <td><p>20</p>
  </td>
  <td><p>18</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>1</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
    <p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области», ОЮЛ ФСКО</p>
  </td>
  </tr>
  <tr><td><p>48.</p>
  </td>
  <td><p>Традиционный турнир по мини-футболу среди ветеранов, памяти К.А.Абдильдина</p>
  </td>
  <td colspan="2"><p>Февраль</p>
    <p>п .Аулиеколь</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
    <p>Тохтаров М.Ж.</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>49.</p>
  </td>
  <td><p>Международный турнир по мини-футболу среди ветеранов, памяти М.Турсунова, М.Нургалиева, Ж.Жайлеубаева</p>
  </td>
  <td colspan="2"><p>Май</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ИП Нуртазин</p>
    <p>ТОО «ТПК Карасу»</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>50.</p>
  </td>
  <td><p>Открытый турнир по мини-футболу среди ветеранов, памяти Олега Будника</p>
  </td>
  <td colspan="2"><p>Май</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>«Емшан»</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>51.</p>
  </td>
  <td><p>Турнир по мини-футболу среди ветеранов, посвященный Дню Победы ВОв</p>
  </td>
  <td colspan="2"><p>Май</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
    <p>К.Нургалиев</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>52.</p>
  </td>
  <td><p>Турнир по мини-футболу посвященный памяти</p>
    <p>Марата Нургалиева</p>
  </td>
  <td colspan="2"><p>Июль</p>
    <p>Карасуский р-н</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
    <p>К.Нургалиев</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>53.</p>
  </td>
  <td><p>Турнир по мини-футболу памяти Баранова</p>
  </td>
  <td colspan="2"><p>Август</p>
    <p>п.Аулиеколь</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
    <p>М.Тохтаров</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>54.</p>
  </td>
  <td><p>Турнир по мини-футболу памяти Д.Тулендинова</p>
  </td>
  <td colspan="2"><p>Август</p>
    <p>Денисовский р-н</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
    <p>К.Нургалиев</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>55.</p>
  </td>
  <td><p>Зима футбольная</p>
    <p>(мини-футбол)</p>
  </td>
  <td colspan="2"><p>Январь-февраль</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>56.</p>
  </td>
  <td><p>Кубок области</p>
    <p>(мини-футбол)</p>
  </td>
  <td colspan="2"><p>Октябрь-декабрь г.Костанай</p>
    <p>г.Рудный</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>57.</p>
  </td>
  <td><p>Чемпионат области по мини-футболу</p>
  </td>
  <td colspan="2"><p>Январь-март</p>
    <p>г.Костанай</p>
    <p>г.Рудный</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>58.</p>
  </td>
  <td><p>Студенческая Лига футбола (мини-футбол)</p>
  </td>
  <td colspan="2"><p>Сентябрь-октябрь</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>59.</p>
  </td>
  <td><p>Открытый областной турнир на призы ТОО «ТПК Карасу» памяти Марата Нургалиева</p>
    <p>(мини-футбл)</p>
  </td>
  <td colspan="2"><p>Декабрь</p>
    <p>Карасуский р-н</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
    <p>ТОО «ТПК Карасу»</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>60.</p>
  </td>
  <td><p>Открытое Первенство области по мини-футболу среди девушек</p>
  </td>
  <td colspan="2"><p>Январь</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>61.</p>
  </td>
  <td><p>Первенство области по футболу среди девушек (U-17)</p>
  </td>
  <td colspan="2"><p>Март</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>62.</p>
  </td>
  <td><p>Первенство области по футболу среди девушек (U-15)</p>
  </td>
  <td colspan="2"><p>Апрель</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>63.</p>
  </td>
  <td><p>Открытй турнир по футболу среди девушек посвященный Дню Казахстанского футбола</p>
  </td>
  <td colspan="2"><p>Апрель</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>64.</p>
  </td>
  <td><p>Открытый турнир по футболу среди девушек, посвященный Дню столицы</p>
  </td>
  <td colspan="2"><p>Июнь</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>65.</p>
  </td>
  <td><p>Открытое Первенство области по мини-футболусреди девушек (U-17)</p>
  </td>
  <td colspan="2"><p>август г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>66.</p>
  </td>
  <td><p>Открытое Первенство области по мини-футболусреди девушек (U-15)</p>
  </td>
  <td colspan="2"><p>Сентябрь</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>67.</p>
  </td>
  <td><p>Открытый турнир по футболу среди девушек, посвященный Дню первого Президента</p>
  </td>
  <td colspan="2"><p>Ноябрь</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>68.</p>
  </td>
  <td><p>Открытый турнир по футболу среди девушек, посвященный Дню Независимости Республики Казахстан</p>
  </td>
  <td colspan="2"><p>Декабрь</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ОЮЛ ФСКО</p>
  </td>
  <td colspan="2"><p>ОФКиС,ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>69.</p>
  </td>
  <td><p>Международный турнир по мини-футболусреди девушек на Кубок команды «Корвет-М»</p>
  </td>
  <td colspan="2"><p>По назначению</p>
    <p>г.Курган</p>
  </td>
  <td><p>Команды городов Казахстана и России</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  </td>
  </tr>
  <tr><td><p>70.</p>
  </td>
  <td><p>Кубок Западной Сибири</p>
  </td>
  <td colspan="2"><p>По назначению</p>
    <p>г.Ялуторовск</p>
    <p>(Тюменская</p>
    <p>обл.)</p>
  </td>
  <td><p>Команды городов Казахстана и России</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  </td>
  </tr>
  <tr><td><p>71.</p>
  </td>
  <td><p>Первенство Костанайской области по мини-футболу среди спортсменов-инвалидов с нарушением слуха</p>
  </td>
  <td colspan="2"><p>Август-сентябрь</p>
    <p>г.Костанай</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>Спортивный клуб инвалидов и отдел спорта г.костаная</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>Спортивный клуб инвалидов.</p>
    <p>ГУ &quot;Отдел физической культуры и спорта акимата</p>
  </td>
  <td colspan="2"><p>ОФКиС , ДЮСШ</p>
  </td>
  </tr>
  <tr><td><p>72.</p>
  </td>
  <td><p>ЧРК по мини-футболу среди спортсменов-инвалидов с нарушением слуха до 17 лет</p>
  </td>
  <td colspan="2">
    <p>Март</p>
    <p>г.Семей</p>
  </td>
  <td><p>Команды городов Казахстана</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»,Спортивный клуб инвалидов</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  </td>
  </tr>
  <tr><td><p>73.</p>
  </td>
  <td><p>ЧРК по футболу среди спортсменов-инвалидов с нарушением слуха</p>
  </td>
  <td colspan="2"><p>Июнь</p>
    <p>г.Алматы</p>
  </td>
  <td><p>Команды городов Казахстана</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»,Спортивный клуб инвалидов</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  </td>
  </tr>
  <tr><td><p>74.</p>
  </td>
  <td><p>Чемпионат РК по мини-футболу среди спортсменов-инвалидов с нарушением слуха</p>
  </td>
  <td colspan="2"><p>Сентябрь-октябрь</p>
    <p>г.Тараз</p>
  </td>
  <td><p>Команды городов Казахстана</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области», Спортивный клуб инвалидов</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  </td>
  </tr>
  <tr><td><p>75.</p>
  </td>
  <td><p>УТС перед Международным турниром по мини футболу среди спортсменов-инвалидов с нарушением слуха</p>
  </td>
  <td colspan="2"><p>Июнь</p>
    <p>г.Костанай</p>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  </td>
  </tr>
  <tr><td><p>76.</p>
  </td>
  <td><p>Международный турнир по мини футболу среди спортсменов-инвалидов с нарушением слуха</p>
  </td>
  <td colspan="2"><p>Июль г. Чолпон-Ата, Киргизия</p>
  </td>
  <td><p>Команды городов Казахстана и стран СНГ</p>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  </td>
  </tr>
  <tr><td><p>77.</p>
  </td>
  <td><p>УТС перед Азиатско-Тихоокеанский Чемпионатом по футзалу среди спортсменов-инвалидов с нарушением слуха</p>
  </td>
  <td colspan="2"><p>г. Костанай, февраль 14 дней</p>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  </td>
  </tr>
  <tr><td><p>78.</p>
  </td>
  <td><p>Азиатско-Тихоокеанский Чемпионат по футзалу среди спортсменов-инвалидов с нарушением слуха</p>
  </td>
  <td colspan="2"><p>Февраль</p>
    <p>15-24 Бангкок, Тайланд</p>
  </td>
  <td><p>Сборные команды стран Азии</p>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  </td>
  </tr>
  <tr><td><p>79.</p>
  </td>
  <td><p>УТС перед Чемпионатом мира по футзалу среди спортсменов-инвалидов с нарушением слуха</p>
  </td>
  <td colspan="2"><p>Октябрь</p>
    <p>г.Алматы 14 дней</p>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
  </td>
  </tr>
  <tr><td><p>80.</p>
  </td>
  <td><p>Чемпионат мира по футзалу среди спортсменов-инвалидов с нарушением слуха</p>
  </td>
  <td colspan="2"><p>Ноябрь</p>
    <p>г.Винтентур (Цюрих), Швейцария</p>
  </td>
  <td><p>Сборные команлы стран Европы и Азии</p>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2">
  </td>
  <td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской</p>
  </td>
  </tr>
  </table>
    </div>
       
           </div>

  <!-- End Shopping-Cart -->
              </div>
            </div>

          </div>
          <!-- CONTENT END -->

        </div> 

  <!-- TABLE-->
    <!-- TABLE-->
</body>
</html>