<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <div th:replace="parts/header :: header-css"></div>
</head>
<body>
<!--header part-->
<div th:replace="parts/header :: header"></div>
<!--/header-part-->
            <!-- CONTENT BEGIN -->
            <div class="content--news--back">
              <div class="container">
                <div class="content--news">
                  <div class="row">
           <!-- Start Shopping-Cart -->
  <div class="shopping-cart">
    <div class="row">
      <div class="col-md-12">
        <div class="cart-title">
          <div class="coach--courses">
            <p><b>Тренерские курсы.</b></p>
<p>В г.Костанае с 23 по 27 ноября 2018 года проводился семинар для тренеров любительских команд. Семинар прошел, при поддержки Центр подготовки тренеров КФФ и ФСКО, при поддержки Департамента массового футбола КФФ.</p>
<p><b>Цель:</b></p>
<p>Подготовка тренеров для работы в массовом футболе с игроками различного возраста. Пола, возможностей. Развитие массового футбола в клубах, школах и других организациях, задействованных в массовом футболе.</p>
<p><b>Задачи курса: </b></p>
<p>Ознакомление с основами организации и проведения игр и тренировок по футболу</p>
<p>Ознакомление с основами планирования и методики проведения мероприятий по футболу.</p>
<p>Ознакомление с основами правилами игры в футбол</p>
<p> Развивать желание играть в футбол на протяжении всей жизни.</p>
<p>После окончания теоретических и практических занятий, выданы сертификаты категории «Д».</p>
<p>Данные сертификаты дают возможность тренировать любительские команды участвующих в турнирах среди любителей.</p>
<p><b>Информация о проведение следующих курсов, будет на нашем сайте позже.</b></p>
<p><b>Следите за новостями сайта. </b></p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Shopping-Cart -->
              </div>
            </div>

          </div>
          <!-- CONTENT END -->

        </div> 

</body>
</html>