<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <div th:replace="parts/header :: header-css"></div>
</head>
<body>
<!--header part-->
<div th:replace="parts/header :: header"></div>
<!--/header-part-->
<!-- CONTENT BEGIN -->
<div class="content--news--back">
    <div class="container">
        <div class="content--news">
            <div class="row">
                <!-- Start Shopping-Cart -->
                <div class="shopping-cart">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cart-title">
                                <h1>Документы</h1>
                                <div class="docu--read">
                                    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
                                        <div class="row">
                                            <div class="col-md-12 animated fadeInRight">
                                                <div class="row">
                                                    <div class="col-sm">
                                                        <div class="file-box">
                                                            <div class="file">
                                                                <a th:href="@{/pdf/svidet_kaz.pdf}" download="">
                                                                    <span class="corner"></span>
                                                                    <div class="icon">
                                                                        <i class="fa fa-file"></i>
                                                                    </div>
                                                                    <div class="file-name">
                                                                        svidet_kaz.pdf
                                                                        <br>
                                                                        <small>Свидетельство каз</small>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>

                                                        <div class="file-box">
                                                            <div class="file">
                                                                <a href="../../../pdf/svidet_o_gos_registr_kaz.pdf" download="">
                                                                    <span class="corner"></span>
                                                                    <div class="icon">
                                                                        <i class="fa fa-file"></i>
                                                                    </div>
                                                                    <div class="file-name">
                                                                        svidet_o_g_kaz.pdf
                                                                        <br>
                                                                        <small>С-во о гос. регитсрации каз</small>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>

                                                        <div class="file-box">
                                                            <div class="file">
                                                                <a href="../../../pdf/svidet_o_gos_registr.pdf" download="">
                                                                    <span class="corner"></span>
                                                                    <div class="icon">
                                                                        <i class="fa fa-file"></i>
                                                                    </div>
                                                                    <div class="file-name">
                                                                        svidet_gosreg.pdf
                                                                        <br>
                                                                        <small>С-во о гос. регитсрации</small>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>

                                                        <div class="file-box">
                                                            <div class="file">
                                                                <a href="../../../pdf/svidet_o_registraci_na_gos.pdf" download="">
                                                                    <span class="corner"></span>
                                                                    <div class="icon">
                                                                        <i class="fa fa-file"></i>
                                                                    </div>
                                                                    <div class="file-name">
                                                                        svidet_na_gos.pdf
                                                                        <br>
                                                                        <small>С-во на гос</small>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>

                                                        <div class="file-box">
                                                            <div class="file">
                                                                <a href="../../../pdf/svidet_rus.pdf" download="">
                                                                    <span class="corner"></span>
                                                                    <div class="icon">
                                                                        <i class="fa fa-file"></i>
                                                                    </div>
                                                                    <div class="file-name">
                                                                        svidet_rus.pdf
                                                                        <br>
                                                                        <small>Свидетельство рус</small>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>

                                                        <div class="file-box">
                                                            <div class="file">
                                                                <a href="../../../pdf/ustav.pdf" download="">
                                                                    <span class="corner"></span>
                                                                    <div class="icon">
                                                                        <i class="fa fa-file"></i>
                                                                    </div>
                                                                    <div class="file-name">
                                                                        ustav.pdf
                                                                        <br>
                                                                        <small>Устав</small>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>

                                                        <div class="file-box">
                                                            <div class="file">
                                                                <a href="../../../pdf/ustav_kaz.pdf" download="">
                                                                    <span class="corner"></span>
                                                                    <div class="icon">
                                                                        <i class="fa fa-file"></i>
                                                                    </div>
                                                                    <div class="file-name">
                                                                        ustav_kaz.pdf
                                                                        <br>
                                                                        <small>Устав на гос</small>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CONTENT END -->
</body>
</html>