<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <div th:replace="parts/header :: header-css"></div>
</head>
<body>
<!--header part-->
<div th:replace="parts/header :: header"></div>
<!--/header-part-->
            <!-- CONTENT BEGIN -->
            <div class="content--news--back">
              <div class="container">
                <div class="content--news">
                  <div class="row">
           <!-- Start Shopping-Cart -->
  <div class="shopping-cart">
    <div class="row">
      <div class="col-md-12">
        <div class="cart-title">
<table border='0' cellspacing='0' cellpadding='2' style='border-top:solid 1px #000000; border-left:solid 1px #000000;'>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Список ДЮСШ городов и районов Костанайской области</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Наименование </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Код</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Ф.И.О.</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Должность</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Рабочий телефон</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Сотовый телефон</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Адрес</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Электронная почта</td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>КГУ "Алтынсаринская районная детско-юношеская спортивная школа" Отдела физической культуры и спорта акимата Алтынсаринского района</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>45</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Кусаинов Аскар Кенжегаринович</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>И.о. директора</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21520</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87056205794</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Алтынсаринский район, с. Силантьевка, ул. Ленина, 7</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>altsport@inbox.ru</td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Мегеря Светлана Викторовна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Заместитель директора</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>49052</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87076709666</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Рева Инна Владимировна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> Бухгалтер</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21520</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87767116019</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>КГУ "Амангельдинская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Амангельдинского района</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>40</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Абдыкаликов Нурлыбек Еренгаипович</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Директор</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21018</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87023470525</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Амангельдинский район, с. Амангельды, ул. Маметова, 2</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>amandusw@mail.ru </td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Альгожин Тимур Айтжанович</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Заместитель директора</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21159</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87786033909</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Аубакирова Жамал Калдиевна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Главный бухгалтер</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21159</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87026789778</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Каркымбаева Мейрамкул Каркымбайкызы</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Методист </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21018</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87757130587</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>КГУ "Аулиекольская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Аулиекольского района</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>53</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Кузнецов Владимир Егорович</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Директор</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21-933</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>8-705-416-63-27              8-778-933-33-60</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Аулиекольский район, с. Аулиеколь,  ул. Байтурсынова, 1-Г</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>auliekoldwsha69@mail.ru </td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Сероус Валентина Васильевна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Заместитель директора </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21-191</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>8-777-376-13-05             8-747-868-71-27</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Оралова Зауреш Айдархановна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Бухгалтер</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21-933</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>8-775-963-01-14              8-771-094-86-92</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>КГУ "Денисовская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Денисовского района</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>34</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Малюга Сергей Николаевич</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Директор</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>49-0-28</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87762045035</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Денисовский район, с. Денисовка, ул. Ленина, 14</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>sportden@inbox.ru</td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Байсова Айгуль Жилкайдаровна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Заместитель директора</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>2-10-60</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87059521093</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Джесова Нагима Жумабековна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Главный бухгалтер</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>2-12-76</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87756897014</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>КГУ "Житикаринская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Житикаринского района</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>35</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Токушев Куаныш Тыныштыкбаевич</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Директор</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> 3-35-10</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87028577060</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> г. Житикара, микр. 5а, дом 11</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>sportdussh@mail,ru</td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Дерий Инесса Леонидовна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Заместитель директора</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> 3-35-10</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87710946840</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Муканова Роза Карибжановна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Главный бухгалтер</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> 3-35-10</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87770371525</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Жантимирова Оксана Викторовна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Методист </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>3-35-10</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87775809986</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>КГУ "Камыстинская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Камыстинского района</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>37</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Ипанов Кайрат Казыханович</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Директор</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21-2-58</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87022915221</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Камыстинский район, с. Камысты, ул. Ленина, д. 16</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>kamysty_dush@mail.ru </td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Лаврентьева Наталья Геннадьевна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Заместитель директора</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21-2-58</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87059016447</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Сарсикеева Джания Сеилхановна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> Главный бухгалтер</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21-2-58</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87751808735</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>КГУ "Карасуская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Карасуского района</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>52</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Ермагамбетов Амангельды Жанибекович</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Директор</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21-1-50</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87773759289</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Карасуский район, с. Карасу, переулок Детский, 2</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>karasu_sport@list.ru</td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Мухамеджанов Манат Бекжанович</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Заместитель директора</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21-3-48</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87774907104</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Даниярова Гульжан Галымжановна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Главный бухгалтер</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>79-0-34</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87767115991</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>КГУ "Костанайская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Костанайского района</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>55</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Матузко Сергей Александрович</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Директор</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>2-29-71</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87773736455</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Костанайский район, п. Затобольск, ул. Тәуелсіздік, 53</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>krdush@mail.ru</td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Пирогова Инна Владимировна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Заместитель директора</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87058010376</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Бруцкая Тамара Паргевна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Главный бухгалтер</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>3-73-46</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87478522638</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Ахтямов Дамир Файзуллаевич</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Методист </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>2-29-71</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87773739708 </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>КГУ "Мендыкаринская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Мендыкаринского района</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>43</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Дюсенов Тлеуберген Марденович</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>И.о. директора</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>3-36-15</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>8-777-653-30-64</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> Мендыкаринский район, с. Боровское, ул. Алтынсарина, 43</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>sportmtnd1@mail.ru</td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Кузмичева Людмила Николаевна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Бухгалтер</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>3-41-93</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>8-705-451-24-73</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>КГУ "Наурзумская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Наурзумского района</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>54</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Байдильдинов Серикбай Кажиевич </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Директор</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>79008</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87770378170</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Наурзумский район, с. Караменды, ул. Шаяхметова, 2В </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>naurzumdussh@mail,ru</td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Шарафеева Наталья Васильевна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Заместитель директора</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21677</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87773998915</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Салауатова Аида Нагашыбаевна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Главный бухгалтер</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21902</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87778980216</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>КГУ "Сарыкольская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Сарыкольского района</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>51</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Степин Юрий Иванович</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Директор</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21-0-92</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>8777416943</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Сарыкольский район, п. Сарыколь, ул. Айтбай батыра, 31</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>sardush@mail.ru</td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Ахушков Руслан Аудинович</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Заместитель директора</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21-0-92</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87057031140</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Черепащенко Яна Романовна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> Бухгалтер-экономист</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>49-0-41</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>8,7477E+11</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>КГУ "Тарановская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Тарановского района</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>36</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Транда Никита Анатольевич</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Директор</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>4-90-06</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87779008372</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Тарановский район, с. Тарановское, ул. Советская, 4</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>dyshtaran@mail.ru</td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Китибаева Татьяна Геннадьевна </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Заместитель директора</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>3-63-59</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87772577503</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Куцеконь Валентина Ивановна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Главный бухгалтер</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>3-63-59</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87774420493</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Саенко Елена Алексеевна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Методист </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>3-63-59</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87476014068</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>КГУ "Узункольская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Узункольского района</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>44</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Кенкенов Куандык Амангельдинович</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Директор</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>24090</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87755461823</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Узункольский район, с. Узунколь, ул. имени Абылая хана, д. 32</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>dysh2008@mail.ru</td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Бурносов Андрей Семенович</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Заместитель директора</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>24090</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87779002264</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Жаналина Галия Апезовна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Главный бухгалтер</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>24090</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87006726963</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>КГУ "Федоровская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Федоровского района</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>42</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Щербак Евгений Владимирович </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Директор</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21198</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87054546175</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Федоровский район, с. Федоровка, ул.Гоголя, 15</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>fed_sport@mail/ru</td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Заместитель директора по хозяйственной части </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21199</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Иващюк Виктория Валерьевна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Бухгалтер</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21200</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87772491514</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Широкова Оксана Сергеевна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Методист </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21201</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>87472515447</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>КГУ "Аркалыкская городская детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата города Аркалык</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>30</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Шалабаев Рустем Асанханович</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Директор</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>7 20 63</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>8 702 389 01 34</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Костанайская область, г. Аркалык, ул. Шакшак Жанибека, 88 </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>sport-skool.ark@mail.ru</td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Заместитель директора</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>7 09 52</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Нуржанова Гүлнар Хайроллақызы</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Главный бухгалтер</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>7 28 19</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>8 702 524 58 84</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Қосаев Рымкеш Темірұлы </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Заместитель директора по хоз. части</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>8 775 441 37 01</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>КГУ "Рудненская городская детско-юношеская спортивная школа № 1" Отдела физической кульутры и спорта акимата города Рудного</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>31</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Галимзянов Валерий Филоритович</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>И.о.директора</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>4-29-80</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>8 705 194 04 43</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>г. Рудный, ул. Гагарина, 11</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>dusch1@mail.ru</td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Акубаева Раиса Сенгазиновна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Заместитель директора</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>4-29-80</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>8 777 634 46 68</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Иржанова Жанат Холдасовна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Главный бухгалтер</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>4-44-24</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>8 708 102 04 50</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Панов Сергей Николаевич</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Методист </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>4-29-80</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>8 775 266 73 60</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>КГУ "Детско-юношеская спортивная школа футбола" Отдела физической кульутры и спорта акимата города Костанай</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>2</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Директор</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>392617</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Костанайская область, г.Костанай, ул. Пушкина, 100 </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>footballschool@mail.ru</td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Бажкейева Шынар Галымбековна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Заместитель директора по учебной части</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>546144</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>8-777-301-48-66</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Искакова Сауле Рагатовна</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Главный бухгалтер</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>53-08-45</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>8-775-682-57-54</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Рамазан Жандос Кенжебайулы</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Методист</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>28-70-74</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>8-702-415-05-95             8-776-715-05-95</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
</table>

        </div>
      </div>
    </div>
  </div>
  <!-- End Shopping-Cart -->
              </div>
            </div>

          </div>
          <!-- CONTENT END -->

        </div> 

</body>
</html>