<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <div th:replace="parts/header :: header-css"></div>
</head>
<body>
<!--header part-->
<div th:replace="parts/header :: header"></div>
<!--/header-part-->
            <!-- CONTENT BEGIN -->
            <div class="content--news--back">
              <div class="container">
                <div class="content--news">
                  <div class="row">
           <!-- Start Shopping-Cart -->
  <div class="shopping-cart">
    <div class="row">
      <div class="col-md-12">
        <div class="cart-title">
            <div class="dushs--table">
                <table border='0' cellspacing='0' cellpadding='2' style='border-top:solid 1px #000000; border-left:solid 1px #000000;'>
                    <tr>
                        <td class="td-style">Список ДЮСШ городов и районов Костанайской области</td>
                        <td class="td-style"> </td>
                        <td class="td-style"> </td>
                        <td class="td-style"> </td>
                        <td class="td-style"> </td>
                        <td class="td-style"> </td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style">Наименование </td>
                        <td class="td-style">Код</td>
                        <td class="td-style">Ф.И.О.</td>
                        <td class="td-style">Должность</td>
                        <td class="td-style">Рабочий телефон</td>
                        <td class="td-style">Сотовый телефон</td>
                        <td class="td-style">Адрес</td>
                        <td class="td-style">Электронная почта</td>
                    </tr>
                    <tr>
                        <td class="td-style">КГУ "Алтынсаринская районная детско-юношеская спортивная школа" Отдела физической культуры и спорта акимата Алтынсаринского района</td>
                        <td class="td-style">45</td>
                        <td class="td-style">Кусаинов Аскар Кенжегаринович</td>
                        <td class="td-style">И.о. директора</td>
                        <td class="td-style">21520</td>
                        <td class="td-style">87056205794</td>
                        <td class="td-style">Алтынсаринский район, с. Силантьевка, ул. Ленина, 7</td>
                        <td class="td-style">altsport@inbox.ru</td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Мегеря Светлана Викторовна</td>
                        <td class="td-style">Заместитель директора</td>
                        <td class="td-style">49052</td>
                        <td class="td-style">87076709666</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Рева Инна Владимировна</td>
                        <td class="td-style"> Бухгалтер</td>
                        <td class="td-style">21520</td>
                        <td class="td-style">87767116019</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style">КГУ "Амангельдинская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Амангельдинского района</td>
                        <td class="td-style">40</td>
                        <td class="td-style">Абдыкаликов Нурлыбек Еренгаипович</td>
                        <td class="td-style">Директор</td>
                        <td class="td-style">21018</td>
                        <td class="td-style">87023470525</td>
                        <td class="td-style">Амангельдинский район, с. Амангельды, ул. Маметова, 2</td>
                        <td class="td-style">amandusw@mail.ru </td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Альгожин Тимур Айтжанович</td>
                        <td class="td-style">Заместитель директора</td>
                        <td class="td-style">21159</td>
                        <td class="td-style">87786033909</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Аубакирова Жамал Калдиевна</td>
                        <td class="td-style">Главный бухгалтер</td>
                        <td class="td-style">21159</td>
                        <td class="td-style">87026789778</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Каркымбаева Мейрамкул Каркымбайкызы</td>
                        <td class="td-style">Методист </td>
                        <td class="td-style">21018</td>
                        <td class="td-style">87757130587</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style">КГУ "Аулиекольская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Аулиекольского района</td>
                        <td class="td-style">53</td>
                        <td class="td-style">Кузнецов Владимир Егорович</td>
                        <td class="td-style">Директор</td>
                        <td class="td-style">21-933</td>
                        <td class="td-style">8-705-416-63-27              8-778-933-33-60</td>
                        <td class="td-style">Аулиекольский район, с. Аулиеколь,  ул. Байтурсынова, 1-Г</td>
                        <td class="td-style">auliekoldwsha69@mail.ru </td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Сероус Валентина Васильевна</td>
                        <td class="td-style">Заместитель директора </td>
                        <td class="td-style">21-191</td>
                        <td class="td-style">8-777-376-13-05             8-747-868-71-27</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Оралова Зауреш Айдархановна</td>
                        <td class="td-style">Бухгалтер</td>
                        <td class="td-style">21-933</td>
                        <td class="td-style">8-775-963-01-14              8-771-094-86-92</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style">КГУ "Денисовская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Денисовского района</td>
                        <td class="td-style">34</td>
                        <td class="td-style">Малюга Сергей Николаевич</td>
                        <td class="td-style">Директор</td>
                        <td class="td-style">49-0-28</td>
                        <td class="td-style">87762045035</td>
                        <td class="td-style">Денисовский район, с. Денисовка, ул. Ленина, 14</td>
                        <td class="td-style">sportden@inbox.ru</td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Байсова Айгуль Жилкайдаровна</td>
                        <td class="td-style">Заместитель директора</td>
                        <td class="td-style">2-10-60</td>
                        <td class="td-style">87059521093</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Джесова Нагима Жумабековна</td>
                        <td class="td-style">Главный бухгалтер</td>
                        <td class="td-style">2-12-76</td>
                        <td class="td-style">87756897014</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style">КГУ "Житикаринская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Житикаринского района</td>
                        <td class="td-style">35</td>
                        <td class="td-style">Токушев Куаныш Тыныштыкбаевич</td>
                        <td class="td-style">Директор</td>
                        <td class="td-style"> 3-35-10</td>
                        <td class="td-style">87028577060</td>
                        <td class="td-style"> г. Житикара, микр. 5а, дом 11</td>
                        <td class="td-style">sportdussh@mail,ru</td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Дерий Инесса Леонидовна</td>
                        <td class="td-style">Заместитель директора</td>
                        <td class="td-style"> 3-35-10</td>
                        <td class="td-style">87710946840</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Муканова Роза Карибжановна</td>
                        <td class="td-style">Главный бухгалтер</td>
                        <td class="td-style"> 3-35-10</td>
                        <td class="td-style">87770371525</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Жантимирова Оксана Викторовна</td>
                        <td class="td-style">Методист </td>
                        <td class="td-style">3-35-10</td>
                        <td class="td-style">87775809986</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style">КГУ "Камыстинская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Камыстинского района</td>
                        <td class="td-style">37</td>
                        <td class="td-style">Ипанов Кайрат Казыханович</td>
                        <td class="td-style">Директор</td>
                        <td class="td-style">21-2-58</td>
                        <td class="td-style">87022915221</td>
                        <td class="td-style">Камыстинский район, с. Камысты, ул. Ленина, д. 16</td>
                        <td class="td-style">kamysty_dush@mail.ru </td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Лаврентьева Наталья Геннадьевна</td>
                        <td class="td-style">Заместитель директора</td>
                        <td class="td-style">21-2-58</td>
                        <td class="td-style">87059016447</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Сарсикеева Джания Сеилхановна</td>
                        <td class="td-style"> Главный бухгалтер</td>
                        <td class="td-style">21-2-58</td>
                        <td class="td-style">87751808735</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style">КГУ "Карасуская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Карасуского района</td>
                        <td class="td-style">52</td>
                        <td class="td-style">Ермагамбетов Амангельды Жанибекович</td>
                        <td class="td-style">Директор</td>
                        <td class="td-style">21-1-50</td>
                        <td class="td-style">87773759289</td>
                        <td class="td-style">Карасуский район, с. Карасу, переулок Детский, 2</td>
                        <td class="td-style">karasu_sport@list.ru</td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Мухамеджанов Манат Бекжанович</td>
                        <td class="td-style">Заместитель директора</td>
                        <td class="td-style">21-3-48</td>
                        <td class="td-style">87774907104</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Даниярова Гульжан Галымжановна</td>
                        <td class="td-style">Главный бухгалтер</td>
                        <td class="td-style">79-0-34</td>
                        <td class="td-style">87767115991</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style">КГУ "Костанайская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Костанайского района</td>
                        <td class="td-style">55</td>
                        <td class="td-style">Матузко Сергей Александрович</td>
                        <td class="td-style">Директор</td>
                        <td class="td-style">2-29-71</td>
                        <td class="td-style">87773736455</td>
                        <td class="td-style">Костанайский район, п. Затобольск, ул. Тәуелсіздік, 53</td>
                        <td class="td-style">krdush@mail.ru</td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Пирогова Инна Владимировна</td>
                        <td class="td-style">Заместитель директора</td>
                        <td class="td-style"> </td>
                        <td class="td-style">87058010376</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Бруцкая Тамара Паргевна</td>
                        <td class="td-style">Главный бухгалтер</td>
                        <td class="td-style">3-73-46</td>
                        <td class="td-style">87478522638</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Ахтямов Дамир Файзуллаевич</td>
                        <td class="td-style">Методист </td>
                        <td class="td-style">2-29-71</td>
                        <td class="td-style">87773739708 </td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style">КГУ "Мендыкаринская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Мендыкаринского района</td>
                        <td class="td-style">43</td>
                        <td class="td-style">Дюсенов Тлеуберген Марденович</td>
                        <td class="td-style">И.о. директора</td>
                        <td class="td-style">3-36-15</td>
                        <td class="td-style">8-777-653-30-64</td>
                        <td class="td-style"> Мендыкаринский район, с. Боровское, ул. Алтынсарина, 43</td>
                        <td class="td-style">sportmtnd1@mail.ru</td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Кузмичева Людмила Николаевна</td>
                        <td class="td-style">Бухгалтер</td>
                        <td class="td-style">3-41-93</td>
                        <td class="td-style">8-705-451-24-73</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style">КГУ "Наурзумская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Наурзумского района</td>
                        <td class="td-style">54</td>
                        <td class="td-style">Байдильдинов Серикбай Кажиевич </td>
                        <td class="td-style">Директор</td>
                        <td class="td-style">79008</td>
                        <td class="td-style">87770378170</td>
                        <td class="td-style">Наурзумский район, с. Караменды, ул. Шаяхметова, 2В </td>
                        <td class="td-style">naurzumdussh@mail,ru</td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Шарафеева Наталья Васильевна</td>
                        <td class="td-style">Заместитель директора</td>
                        <td class="td-style">21677</td>
                        <td class="td-style">87773998915</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Салауатова Аида Нагашыбаевна</td>
                        <td class="td-style">Главный бухгалтер</td>
                        <td class="td-style">21902</td>
                        <td class="td-style">87778980216</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style">КГУ "Сарыкольская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Сарыкольского района</td>
                        <td class="td-style">51</td>
                        <td class="td-style">Степин Юрий Иванович</td>
                        <td class="td-style">Директор</td>
                        <td class="td-style">21-0-92</td>
                        <td class="td-style">8777416943</td>
                        <td class="td-style">Сарыкольский район, п. Сарыколь, ул. Айтбай батыра, 31</td>
                        <td class="td-style">sardush@mail.ru</td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Ахушков Руслан Аудинович</td>
                        <td class="td-style">Заместитель директора</td>
                        <td class="td-style">21-0-92</td>
                        <td class="td-style">87057031140</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Черепащенко Яна Романовна</td>
                        <td class="td-style"> Бухгалтер-экономист</td>
                        <td class="td-style">49-0-41</td>
                        <td class="td-style">8,7477E+11</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style">КГУ "Тарановская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Тарановского района</td>
                        <td class="td-style">36</td>
                        <td class="td-style">Транда Никита Анатольевич</td>
                        <td class="td-style">Директор</td>
                        <td class="td-style">4-90-06</td>
                        <td class="td-style">87779008372</td>
                        <td class="td-style">Тарановский район, с. Тарановское, ул. Советская, 4</td>
                        <td class="td-style">dyshtaran@mail.ru</td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Китибаева Татьяна Геннадьевна </td>
                        <td class="td-style">Заместитель директора</td>
                        <td class="td-style">3-63-59</td>
                        <td class="td-style">87772577503</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Куцеконь Валентина Ивановна</td>
                        <td class="td-style">Главный бухгалтер</td>
                        <td class="td-style">3-63-59</td>
                        <td class="td-style">87774420493</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Саенко Елена Алексеевна</td>
                        <td class="td-style">Методист </td>
                        <td class="td-style">3-63-59</td>
                        <td class="td-style">87476014068</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style">КГУ "Узункольская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Узункольского района</td>
                        <td class="td-style">44</td>
                        <td class="td-style">Кенкенов Куандык Амангельдинович</td>
                        <td class="td-style">Директор</td>
                        <td class="td-style">24090</td>
                        <td class="td-style">87755461823</td>
                        <td class="td-style">Узункольский район, с. Узунколь, ул. имени Абылая хана, д. 32</td>
                        <td class="td-style">dysh2008@mail.ru</td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Бурносов Андрей Семенович</td>
                        <td class="td-style">Заместитель директора</td>
                        <td class="td-style">24090</td>
                        <td class="td-style">87779002264</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Жаналина Галия Апезовна</td>
                        <td class="td-style">Главный бухгалтер</td>
                        <td class="td-style">24090</td>
                        <td class="td-style">87006726963</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style">КГУ "Федоровская районая детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата Федоровского района</td>
                        <td class="td-style">42</td>
                        <td class="td-style">Щербак Евгений Владимирович </td>
                        <td class="td-style">Директор</td>
                        <td class="td-style">21198</td>
                        <td class="td-style">87054546175</td>
                        <td class="td-style">Федоровский район, с. Федоровка, ул.Гоголя, 15</td>
                        <td class="td-style">fed_sport@mail/ru</td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style"> </td>
                        <td class="td-style">Заместитель директора по хозяйственной части </td>
                        <td class="td-style">21199</td>
                        <td class="td-style"> </td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Иващюк Виктория Валерьевна</td>
                        <td class="td-style">Бухгалтер</td>
                        <td class="td-style">21200</td>
                        <td class="td-style">87772491514</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Широкова Оксана Сергеевна</td>
                        <td class="td-style">Методист </td>
                        <td class="td-style">21201</td>
                        <td class="td-style">87472515447</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style">КГУ "Аркалыкская городская детско-юношеская спортивная школа" Отдела физической кульутры и спорта акимата города Аркалык</td>
                        <td class="td-style">30</td>
                        <td class="td-style">Шалабаев Рустем Асанханович</td>
                        <td class="td-style">Директор</td>
                        <td class="td-style">7 20 63</td>
                        <td class="td-style">8 702 389 01 34</td>
                        <td class="td-style">Костанайская область, г. Аркалык, ул. Шакшак Жанибека, 88 </td>
                        <td class="td-style">sport-skool.ark@mail.ru</td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style"> </td>
                        <td class="td-style">Заместитель директора</td>
                        <td class="td-style">7 09 52</td>
                        <td class="td-style"> </td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Нуржанова Гүлнар Хайроллақызы</td>
                        <td class="td-style">Главный бухгалтер</td>
                        <td class="td-style">7 28 19</td>
                        <td class="td-style">8 702 524 58 84</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Қосаев Рымкеш Темірұлы </td>
                        <td class="td-style">Заместитель директора по хоз. части</td>
                        <td class="td-style"> </td>
                        <td class="td-style">8 775 441 37 01</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style">КГУ "Рудненская городская детско-юношеская спортивная школа № 1" Отдела физической кульутры и спорта акимата города Рудного</td>
                        <td class="td-style">31</td>
                        <td class="td-style">Галимзянов Валерий Филоритович</td>
                        <td class="td-style">И.о.директора</td>
                        <td class="td-style">4-29-80</td>
                        <td class="td-style">8 705 194 04 43</td>
                        <td class="td-style">г. Рудный, ул. Гагарина, 11</td>
                        <td class="td-style">dusch1@mail.ru</td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Акубаева Раиса Сенгазиновна</td>
                        <td class="td-style">Заместитель директора</td>
                        <td class="td-style">4-29-80</td>
                        <td class="td-style">8 777 634 46 68</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Иржанова Жанат Холдасовна</td>
                        <td class="td-style">Главный бухгалтер</td>
                        <td class="td-style">4-44-24</td>
                        <td class="td-style">8 708 102 04 50</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Панов Сергей Николаевич</td>
                        <td class="td-style">Методист </td>
                        <td class="td-style">4-29-80</td>
                        <td class="td-style">8 775 266 73 60</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style">КГУ "Детско-юношеская спортивная школа футбола" Отдела физической кульутры и спорта акимата города Костанай</td>
                        <td class="td-style">2</td>
                        <td class="td-style"> </td>
                        <td class="td-style">Директор</td>
                        <td class="td-style">392617</td>
                        <td class="td-style"> </td>
                        <td class="td-style">Костанайская область, г.Костанай, ул. Пушкина, 100 </td>
                        <td class="td-style">footballschool@mail.ru</td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Бажкейева Шынар Галымбековна</td>
                        <td class="td-style">Заместитель директора по учебной части</td>
                        <td class="td-style">546144</td>
                        <td class="td-style">8-777-301-48-66</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Искакова Сауле Рагатовна</td>
                        <td class="td-style">Главный бухгалтер</td>
                        <td class="td-style">53-08-45</td>
                        <td class="td-style">8-775-682-57-54</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                    <tr>
                        <td class="td-style"></td>
                        <td class="td-style"> </td>
                        <td class="td-style">Рамазан Жандос Кенжебайулы</td>
                        <td class="td-style">Методист</td>
                        <td class="td-style">28-70-74</td>
                        <td class="td-style">8-702-415-05-95             8-776-715-05-95</td>
                        <td class="td-style"> </td>
                        <td class="td-style"></td>
                    </tr>
                </table>

            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Shopping-Cart -->
              </div>
            </div>

          </div>
          <!-- CONTENT END -->

        </div> 

</body>
</html>