<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <div th:replace="parts/header :: header-css"></div>
</head>
<body>
<!--header part-->
<div th:replace="parts/header :: header"></div>
<!--/header-part-->
            <!-- CONTENT BEGIN -->
            <div class="content--news--back">
              <div class="container">
                <div class="content--news">
                  <div class="row">
           <!-- Start Shopping-Cart -->
  <div class="shopping-cart">
    <div class="row">
      <div class="col-md-12">
        <div class="cart-title">
          <div class="kids--tours one--hun_percent programm--teach">
            <p><b> </b></p>
<table border="1"><tr><td><p><b>№</b></p>
</td>
<td colspan="2"><p><b>Наименование спортивного соревнования</b></p>
</td>
<td><p><b>Сроки и место проведения спортивного соревнования</b></p>
</td>
<td><p><b>Организации, участвующие в спортивном соревновании</b></p>
</td>
<td><p><b>Состав команды участвующей в спортивном соревновании</b></p>
</td>
<td colspan="2"><p><b>Организатор спортивного соревнования</b></p>
</td>
<td colspan="2"><p><b>Организации командирующие участников спортивного соревнования</b></p>
</td>
</tr>
<tr><td><p>1.</p>
</td>
<td><p>Открытый зимний турнир по футболу среди юн.2008,2010 гг.р.</p>
</td>
<td colspan="2"><p>Февраль</p>
<p>г.Лисаковск</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>20</p>
</td>
<td><p>ДЮСШ г.Лисаковск</p>
<p>ОЮЛ ФСКО</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>2.</p>
</td>
<td><p>Первенство области по футболу среди ДЮСШ юн.2003 г.р.</p>
</td>
<td colspan="2"><p>Апрель</p>
<p>г.Лисаковск</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>20</p>
</td>
<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
<p>ОЮЛ ФСКО</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>3.</p>
</td>
<td><p>Первенство области по футболу среди ДЮСШ юн.2004г.р.</p>
</td>
<td colspan="2"><p>Апрель</p>
<p>г.Костанай</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>20</p>
</td>
<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
<p>ОЮЛ ФСКО</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>4.</p>
</td>
<td><p>Первенство области по футболу среди ДЮСШ юн.2005г.р.</p>
</td>
<td colspan="2"><p>Апрель</p>
<p>г.Костанай</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>20</p>
</td>
<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
<p>ОЮЛ ФСКО</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>5.</p>
</td>
<td><p>Первенство области по футболу среди ДЮСШ юн.2006 г.р.</p>
</td>
<td colspan="2"><p>Май</p>
<p>г.Лисаковск</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>20</p>
</td>
<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
<p>ОЮЛ ФСКО</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>6.</p>
</td>
<td><p>Открытый областной турнир по футболу посвященный памяти учителя физической культуры В.Блудова среди юношей 2006-2007 гг.р</p>
</td>
<td colspan="2"><p>Май</p>
<p>Камыстинский р-н с.Камысты</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td><p>ГУ &quot;Отдел физической культуры и спорта акимата Камыстинского района&quot;</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>7.</p>
</td>
<td><p>Детская футбольная лига среди юношей 2005-2006, 2007-2008, 2009 гг.р. и младше</p>
</td>
<td colspan="2"><p>Май-август</p>
<p>г.Костанай</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td><p>КГУ ДЮСШ футбола</p>
<p>ОЮЛ ФСКО</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>8.</p>
</td>
<td><p>Первенство области по футболу среди ДЮСШ юн.2007 г.р.</p>
</td>
<td colspan="2"><p>Июнь</p>
<p>г.Костанай</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>20</p>
</td>
<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
<p>ОЮЛ ФСКО</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>9.</p>
</td>
<td><p>Открытый турнир по футболу среди юношей</p>
</td>
<td colspan="2"><p>Июнь-июль</p>
<p>г.Лисаковск</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>20</p>
</td>
<td><p>КБРУ</p>
<p>г.Лисаковск</p>
<p>ОЮЛ ФСКО</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>10.</p>
</td>
<td><p>Открытый турнир по футболу посвященный Международному дню защиты ребенка юн.2008 г.р.</p>
</td>
<td colspan="2"><p>Июнь</p>
<p>г.Костанай</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td><p>АО «Технодом Арена»</p>
<p>ОЮЛ ФСКО</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>11.</p>
</td>
<td><p>Открытый областной турнир по футболу среди юн.2005 г.р.</p>
</td>
<td colspan="2"><p>Июль-август</p>
<p>г.Лисаковск</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>20</p>
</td>
<td><p>ДЮСШ г.Лисаковск</p>
<p>ОЮЛ ФСКО</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>12.</p>
</td>
<td><p>Открытый турнир по футболу посв.памяти Б.Копжасарова ср.юн.2006 г.р.</p>
</td>
<td colspan="2"><p>Август</p>
<p>г.Костанай</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>20</p>
</td>
<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
<p>КГУ ДЮСШ футбола г.Костанай</p>
<p>ОЮЛ ФСКО</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>13.</p>
</td>
<td><p>Открытый областной турнир по футболу памяти война-интернационалиста Артура Мазукаева, среди юношей 2007-2008 г.р</p>
</td>
<td colspan="2"><p>Сентябрь</p>
<p>Камыстнирский р-н с.Камысты</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td><p>ГУ &quot;Отдел физической культуры и спорта акимата Камыстинского района&quot;</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>14.</p>
</td>
<td><p>Открытый турнир по футболу посв.памяти детcких тренеров Е.Сватко и А.Тулба, Р.Ситдикова</p>
<p>среди юн.2005 г.р.</p>
</td>
<td colspan="2"><p>Сентябрь</p>
<p>г.Костанай</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>20</p>
</td>
<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
<p>КГУ ДЮСШ футбола г.Костанай</p>
<p>ОЮЛ ФСКО</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>15.</p>
</td>
<td><p>Открытый турнир по футболу среди юношей</p>
</td>
<td colspan="2"><p>Сентябрь</p>
<p>г.Лисаковск</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>20</p>
</td>
<td><p>ДЮСШ г.Лисаковск</p>
<p>ОЮЛ ФСКО</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>16.</p>
</td>
<td><p>Детская лига по футболу</p>
</td>
<td colspan="2"><p>Сентябрь-октябрь</p>
<p>Мендыгаринский р-н п.Мендыгара</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td><p>ГУ &quot;Отдел физической культуры и спорта акимата Мендыгаринского района ОЮЛ ФСКО</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>17.</p>
</td>
<td><p>Открытый турнир по футболу посвященный Дню учителя</p>
</td>
<td colspan="2"><p>Октябрь</p>
<p>Мендыгаринский р-н</p>
<p>п.Мендыгара</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td><p>ГУ &quot;Отдел физической культуры и спорта акимата Мендыгаринского района ОЮЛ ФСКО</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>18.</p>
</td>
<td><p>Открытый турнир по футболу на приз ФК «Тобол» среди юношей 2007 г.р.</p>
</td>
<td colspan="2"><p>Октябрь</p>
<p>г.Костанай</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td>
<p>ФК «Тобол»</p>
<p>ОЮЛ ФСКО</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>19.</p>
</td>
<td>
<p>Кубок Детской футбольной лиги среди юношей 2007-2008 гг.р., посвященный Дню Первого президента</p>
</td>
<td colspan="2">
<p>Ноябрь-декабрь</p>
<p>г.Костанай</p>
</td>
<td>
<p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td><p>ОЮЛ ФСКО</p>
<p>В.Чечет</p>
<p>К.Гаркуша</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>20.</p>
</td>
<td><p>Кубок Детской футбольной лиги среди юношей 2009 г.р. и младше, посвященный Дню Независимости РК</p>
</td>
<td colspan="2"><p>Ноябрь-декабрь</p>
<p>г.Костанай</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td>
<p>ОЮЛ ФСКО</p>
<p>В.Чечет</p>
<p>К.Гаркуша</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>21.</p>
</td>
<td><p>Открытое Первенство области по мини футболу среди юношей 2006-2007 гг.р.</p>
</td>
<td colspan="2"><p>Март</p>
<p>г.Рудный</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>22.</p>
</td>
<td><p>Открытое Первенство области по мини футболу среди юношей 2003-2004 гг.р.</p>
</td>
<td colspan="2"><p>Май</p>
<p>г.Рудный</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>23.</p>
</td>
<td><p>Открытое Первенство области по мини футболу среди юношей 2010 г.р.</p>
</td>
<td colspan="2"><p>Июль</p>
<p>г.Рудный</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>24.</p>
</td>
<td><p>Открытое Первенство области по мини футболу среди юношей 2011-2012 гг.р.</p>
</td>
<td colspan="2"><p>Октябрь</p>
<p>г.Рудный</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>25.</p>
</td>
<td><p>Открытое Первенство области по мини футболу среди юношей 2008-2009 гг.р.</p>
</td>
<td colspan="2"><p>Декабрь</p>
<p>г.Рудный</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области</p>
</td>
<td colspan="2"><p>ОФКиС,</p>
<p>ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>26.</p>
</td>
<td><p>Первенство Республики Казахстан по футболу «А» среди юношеских и молодежных команд Футбольных центров и Академий (2001,2002,2003,2004,2005,2006, 2007 гг.р.)</p>
</td>
<td colspan="2"><p>По назначению</p>
</td>
<td><p>Сборные команды областей, г.Астана, г.Алматы</p>
</td>
<td><p>20</p>
</td>
<td><p>КФФ</p>
</td>
<td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
</td>
<td>
</td>
</tr>
<tr><td><p>27.</p>
</td>
<td><p>Первенство Республики Казахстан по футболу среди юношеских сборных команд областей и гг.Астана и Алматы (2003,2004,2005,2006, 2007 гг.р.)</p>
</td>
<td colspan="2"><p>По назначению</p>
</td>
<td><p>Сборные команды областей, г.Астана, г.Алматы</p>
</td>
<td><p>20</p>
</td>
<td><p>КФФ</p>
</td>
<td colspan="2"><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
</td>
<td>
</td>
</tr>
<tr><td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Shopping-Cart -->
              </div>
            </div>

          </div>
          <!-- CONTENT END -->

        </div> 

</body>
</html>