<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<div th:replace="parts/header :: header-css"></div>
</head>
<body>
<!--header part-->
<div th:replace="parts/header :: header"></div>
<!--/header-part-->
	<!-- CONTENT BEGIN -->
	<div class="content--news--back">
		<div class="container">
			<div class="content--news">
				<div class="row">
					<!-- Start Shopping-Cart -->
					<div class="shopping-cart">
						<div class="row">
							<div class="col-md-12">
								<div class="cart-title">
									<div class="lesson--table">
										<p>«Урок футбола в школе».</p>
										<p>В образовательных школах нашей области в 2019 году проводится «Урок футбол». В 40 школах пробируется этот пилотный проект, который проводят совместно Министерство образования РК и КФФ. В нашей области утверждены эксперты по мониторингу уроков футбола по городам и районам. По окончанию проекта эксперты представят отчеты о проделанной работе.</p>
										<p><b>Цели : </b></p>
										<p>· Привлечение детей к занятиям футболом</p>
										<p><b>Задачи: </b></p>
										<p>· Селекционная работа.</p>
										<p>· Выявления талантливых детей для занятий футболом в ДЮСШ и Футбольный Центр.</p>
										<p>Нормы участия общеобразовательных школ</p>
										<p> в пилотном проекте «Урок футбола» в разрезе регионов</p>
										<p>в 2018-2019 учебном году</p>
										<table class="one--hun_percent" border="1"><tr><td rowspan="2"><p>№</p>
										</td>
										<td rowspan="2"><p>Наименование области</p>
										</td>
										<td rowspan="2"><p>Всего школ, участвующих в пилотном проекте</p>
										</td>
										<td colspan="3"><p>Количество пилотных школ,</p>
											<p>в них классов, которые участвуют в проекте «Урок футбол»</p>
										</td>
									</tr>
									<tr><td><p>1-4</p>
									</td>
									<td><p>5-9</p>
									</td>
									<td><p>10-11</p>
									</td>
								</tr>
								<tr><td><p>1</p>
								</td>
								<td><p>Костанайская область</p>
								</td>
								<td><p>40</p>
								</td>
								<td><p>104</p>
								</td>
								<td><p>194</p>
								</td>
								<td><p>43</p>
								</td>
							</tr>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Shopping-Cart -->
</div>
</div>
</div>
<!-- CONTENT END -->
</div> 
</body>
</html>