<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <div th:replace="parts/header :: header-css"></div>
</head>
<body>
<!--header part-->
<div th:replace="parts/header :: header"></div>
<!--/header-part-->
<!-- CONTENT BEGIN -->
<div class="content--news--back">
  <div class="container">
    <div class="content--news">
      <div class="row">
       <!-- Start Shopping-Cart -->
       <div class="shopping-cart">
        <div class="row">
          <div class="col-md-12">
            <div class="cart-title">
              <div class="mini-football-footzall one--hun_percent programm--teach">
                <p><b> </b></p>
                <table border="1"><tr><td><p><b>№</b></p>
                </td>
                <td><p><b>Наименование спортивного соревнования</b></p>
                </td>
                <td><p><b>Сроки и место проведения спортивного соревнования</b></p>
                </td>
                <td><p><b>Организации, участвующие в спортивном соревновании</b></p>
                </td>
                <td><p><b>Состав команды участвующей в спортивном соревновании</b></p>
                </td>
                <td><p><b>Организатор спортивного соревнования</b></p>
                </td>
                <td colspan="2"><p><b>Организации командирующие участников спортивного соревнования</b></p>
                </td>
              </tr>
              <tr><td><p>1.</p>
              </td>
              <td><p>Традиционный турнир по мини-футболу среди ветеранов, памяти К.А.Абдильдина</p>
              </td>
              <td><p>Февраль</p>
                <p>п .Аулиеколь</p>
              </td>
              <td><p>Команды городов и районов</p>
              </td>
              <td><p>По положению</p>
              </td>
              <td><p>ОЮЛ ФСКО</p>
                <p>Тохтаров М.Ж.</p>
              </td>
              <td><p>ОФКиС,ДЮСШ</p>
              </td>
              <td>
              </td>
            </tr>
            <tr><td><p>2.</p>
            </td>
            <td><p>Международный турнир по мини-футболу среди ветеранов, памяти М.Турсунова, М.Нургалиева, Ж.Жайлеубаева</p>
            </td>
            <td><p>Май</p>
              <p>г.Костанай</p>
            </td>
            <td><p>Команды городов и районов</p>
            </td>
            <td><p>По положению</p>
            </td>
            <td><p>ИП Нуртазин</p>
              <p>ТОО «ТПК Карасу»</p>
            </td>
            <td><p>ОФКиС,ДЮСШ</p>
            </td>
            <td>
            </td>
          </tr>
          <tr><td><p>3.</p>
          </td>
          <td><p>Открытый турнир по мини-футболу среди ветеранов, памяти Олега Будника</p>
          </td>
          <td><p>Май</p>
            <p>г.Костанай</p>
          </td>
          <td><p>Команды городов и районов</p>
          </td>
          <td><p>По положению</p>
          </td>
          <td><p>«Емшан»</p>
          </td>
          <td><p>ОФКиС,ДЮСШ</p>
          </td>
          <td>
          </td>
        </tr>
        <tr><td><p>4.</p>
        </td>
        <td><p>Турнир по мини-футболу среди ветеранов, посвященный Дню Победы ВОв</p>
        </td>
        <td><p>Май</p>
          <p>г.Костанай</p>
        </td>
        <td><p>Команды городов и районов</p>
        </td>
        <td><p>По положению</p>
        </td>
        <td><p>ОЮЛ ФСКО</p>
          <p>К.Нургалиев</p>
        </td>
        <td><p>ОФКиС,ДЮСШ</p>
        </td>
        <td>
        </td>
      </tr>
      <tr><td><p>5.</p>
      </td>
      <td><p>Турнир по мини-футболу посвященный памяти</p>
        <p>Марата Нургалиева</p>
      </td>
      <td><p>Июль</p>
        <p>Карасуский р-н</p>
      </td>
      <td><p>Команды городов и районов</p>
      </td>
      <td><p>По положению</p>
      </td>
      <td><p>ОЮЛ ФСКО</p>
        <p>К.Нургалиев</p>
      </td>
      <td><p>ОФКиС,ДЮСШ</p>
      </td>
      <td>
      </td>
    </tr>
    <tr><td><p>6.</p>
    </td>
    <td><p>Турнир по мини-футболу памяти Баранова</p>
    </td>
    <td><p>Август</p>
      <p>п.Аулиеколь</p>
    </td>
    <td><p>Команды городов и районов</p>
    </td>
    <td><p>По положению</p>
    </td>
    <td><p>ОЮЛ ФСКО</p>
      <p>М.Тохтаров</p>
    </td>
    <td><p>ОФКиС,ДЮСШ</p>
    </td>
    <td>
    </td>
  </tr>
  <tr><td><p>7.</p>
  </td>
  <td><p>Турнир по мини-футболу памяти Д.Тулендинова</p>
  </td>
  <td><p>Август</p>
    <p>Денисовский р-н</p>
  </td>
  <td><p>Команды городов и районов</p>
  </td>
  <td><p>По положению</p>
  </td>
  <td><p>ОЮЛ ФСКО</p>
    <p>К.Нургалиев</p>
  </td>
  <td><p>ОФКиС,ДЮСШ</p>
  </td>
  <td>
  </td>
</tr>
<tr><td><p>8.</p>
</td>
<td><p>Зима футбольная</p>
  <p>(мини-футбол)</p>
</td>
<td><p>Январь-февраль</p>
  <p>г.Костанай</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td><p>ОЮЛ ФСКО</p>
</td>
<td><p>ОФКиС,ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>9.</p>
</td>
<td><p>Кубок области</p>
  <p>(мини-футбол)</p>
</td>
<td><p>Октябрь-декабрь г.Костанай</p>
  <p>г.Рудный</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td><p>ОЮЛ ФСКО</p>
</td>
<td><p>ОФКиС,ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>10.</p>
</td>
<td><p>Чемпионат области по мини-футболу</p>
</td>
<td><p>Январь-март</p>
  <p>г.Костанай</p>
  <p>г.Рудный</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td><p>ОЮЛ ФСКО</p>
</td>
<td><p>ОФКиС,ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>11.</p>
</td>
<td><p>Студенческая Лига футбола (мини-футбол)</p>
</td>
<td><p>Сентябрь-октябрь</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td><p>ОЮЛ ФСКО</p>
</td>
<td><p>ОФКиС,ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>12.</p>
</td>
<td><p>Открытый областной турнир на призы ТОО «ТПК Карасу» памяти Марата Нургалиева</p>
  <p>(мини-футбл)</p>
</td>
<td><p>Декабрь</p>
  <p>Карасуский р-н</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td><p>ОЮЛ ФСКО</p>
  <p>ТОО «ТПК Карасу»</p>
</td>
<td><p>ОФКиС,ДЮСШ</p>
</td>
<td>
</td>
</tr>
<tr><td><p>13.</p>
</td>
<td><p>Открытое Первенство области по мини-футболу среди девушек</p>
</td>
<td><p>Январь</p>
  <p>г.Костанай</p>
</td>
<td><p>Команды городов и районов</p>
</td>
<td><p>По положению</p>
</td>
<td><p>ОЮЛ ФСКО</p>
</td>
<td><p>ОФКиС,ДЮСШ</p>
</td>
<td>
</td>
</tr>
</table>

</div>
</div>
</div>
</div>
</div>
<!-- End Shopping-Cart -->
</div>
</div>

</div>
<!-- CONTENT END -->

</div> 

</body>
</html>