<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<div th:replace="parts/header :: header-css"></div>
</head>
<body>
<!--header part-->
<div th:replace="parts/header :: header"></div>
<!--/header-part-->
	<!-- CONTENT BEGIN -->
	<div class="content--news--back">
		<div class="container">
			<div class="content--news">
				<div class="row">
					<!-- Start Shopping-Cart -->
					<div class="shopping-cart">
						<div class="row">
							<div class="col-md-12">
								<div class="cart-title">
									<div class="table--mini-foot-org-voz one--hun_percent programm--teach">
										<p><b> </b></p>
										<table border="1"><tr><td><p><b>№</b></p>
										</td>
										<td><p><b>Наименование спортивного соревнования</b></p>
										</td>
										<td><p><b>Сроки и место проведения спортивного соревнования</b></p>
										</td>
										<td><p><b>Организации, участвующие в спортивном соревновании</b></p>
										</td>
										<td><p><b>Состав команды участвующей в спортивном соревновании</b></p>
										</td>
										<td><p><b>Организатор спортивного соревнования</b></p>
										</td>
										<td><p><b>Организации командирующие участников спортивного соревнования</b></p>
										</td>
									</tr>
									<tr><td><p>1.</p>
									</td>
									<td><p>Кубок Западной Сибири</p>
									</td>
									<td><p>По назначению</p>
										<p>г.Ялуторовск</p>
										<p>(Тюменская</p>
										<p>обл.)</p>
									</td>
									<td><p>Команды городов Казахстана и России</p>
									</td>
									<td><p>По положению</p>
									</td>
									<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
									</td>
									<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
									</td>
								</tr>
								<tr><td><p>2.</p>
								</td>
								<td><p>Первенство Костанайской области по мини-футболу среди спортсменов-инвалидов с нарушением слуха</p>
								</td>
								<td><p>Август-сентябрь</p>
									<p>г.Костанай</p>
								</td>
								<td><p>Команды городов и районов</p>
								</td>
								<td><p>Спортивный клуб инвалидов и отдел спорта г.костаная</p>
								</td>
								<td><p>Спортивный клуб инвалидов.</p>
									<p>ГУ &quot;Отдел физической культуры и спорта акимата</p>
								</td>
								<td><p>ОФКиС , ДЮСШ</p>
								</td>
							</tr>
							<tr><td><p>3.</p>
							</td>
							<td><p>ЧРК по мини-футболу среди спортсменов-инвалидов с нарушением слуха до 17 лет</p>
							</td>
							<td>
								<p>Март</p>
								<p>г.Семей</p>
							</td>
							<td><p>Команды городов Казахстана</p>
							</td>
							<td><p>По положению</p>
							</td>
							<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»,Спортивный клуб инвалидов</p>
							</td>
							<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
							</td>
						</tr>
						<tr><td><p>4.</p>
						</td>
						<td><p>ЧРК по футболу среди спортсменов-инвалидов с нарушением слуха</p>
						</td>
						<td><p>Июнь</p>
							<p>г.Алматы</p>
						</td>
						<td><p>Команды городов Казахстана</p>
						</td>
						<td><p>По положению</p>
						</td>
						<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»,Спортивный клуб инвалидов</p>
						</td>
						<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
						</td>
					</tr>
					<tr><td><p>5.</p>
					</td>
					<td><p>Чемпионат РК по мини-футболу среди спортсменов-инвалидов с нарушением слуха</p>
					</td>
					<td><p>Сентябрь-октябрь</p>
						<p>г.Тараз</p>
					</td>
					<td><p>Команды городов Казахстана</p>
					</td>
					<td><p>По положению</p>
					</td>
					<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области», Спортивный клуб инвалидов</p>
					</td>
					<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
					</td>
				</tr>
				<tr><td><p>6.</p>
				</td>
				<td><p>УТС перед Международным турниром по мини футболу среди спортсменов-инвалидов с нарушением слуха</p>
				</td>
				<td><p>Июнь</p>
					<p>г.Костанай</p>
				</td>
				<td>
				</td>
				<td>
				</td>
				<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
				</td>
				<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
				</td>
			</tr>
			<tr><td><p>7.</p>
			</td>
			<td><p>Международный турнир по мини футболу среди спортсменов-инвалидов с нарушением слуха</p>
			</td>
			<td><p>Июль г. Чолпон-Ата, Киргизия</p>
			</td>
			<td><p>Команды городов Казахстана и стран СНГ</p>
			</td>
			<td>
			</td>
			<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
			</td>
			<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
			</td>
		</tr>
		<tr><td><p>8.</p>
		</td>
		<td><p>УТС перед Азиатско-Тихоокеанский Чемпионатом по футзалу среди спортсменов-инвалидов с нарушением слуха</p>
		</td>
		<td><p>г. Костанай, февраль 14 дней</p>
		</td>
		<td>
		</td>
		<td>
		</td>
		<td>
		</td>
		<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
		</td>
	</tr>
	<tr><td><p>9.</p>
	</td>
	<td><p>Азиатско-Тихоокеанский Чемпионат по футзалу среди спортсменов-инвалидов с нарушением слуха</p>
	</td>
	<td><p>Февраль</p>
		<p>15-24 Бангкок, Тайланд</p>
	</td>
	<td><p>Сборные команды стран Азии</p>
	</td>
	<td>
	</td>
	<td>
	</td>
	<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
	</td>
</tr>
<tr><td><p>10.</p>
</td>
<td><p>УТС перед Чемпионатом мира по футзалу среди спортсменов-инвалидов с нарушением слуха</p>
</td>
<td><p>Октябрь</p>
	<p>г.Алматы 14 дней</p>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской области»</p>
</td>
</tr>
<tr><td><p>11.</p>
</td>
<td><p>Чемпионат мира по футзалу среди спортсменов-инвалидов с нарушением слуха</p>
</td>
<td><p>Ноябрь</p>
	<p>г.Винтентур (Цюрих), Швейцария</p>
</td>
<td><p>Сборные команлы стран Европы и Азии</p>
</td>
<td>
</td>
<td>
</td>
<td><p>ГУ «Управление физической культуры и спорта акимата Костанайской</p>
</td>
</tr>
</table>

</div>
</div>
</div>
</div>
</div>
<!-- End Shopping-Cart -->
</div>
</div>

</div>
<!-- CONTENT END -->

</div> 

</body>
</html>