<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <div th:replace="parts/header :: header-css"></div>
</head>
<body>
<!--header part-->
<div th:replace="parts/header :: header"></div>
<!--/header-part-->
<!-- CONTENT BEGIN -->
<div class="content--news--back">
    <div class="container">
        <div class="content--news">
            <div class="row">
                <!-- Start Shopping-Cart -->
                <div class="shopping-cart">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cart-title">
                                <div class="lesson--desc">
                                    <h3>«Урок футбола в школе».</h3>
                                    <p>В образовательных школах нашей области в 2019 году проводится «Урок футбол». В 40 школах пробируется этот пилотный проект, который проводят совместно Министерство образования РК и КФФ. В нашей области утверждены эксперты по мониторингу уроков футбола по городам и районам. По окончанию проекта эксперты представят отчеты о проделанной работе.</p>
                                    <p><b>Цели : </b></p>
                                    <p>· Привлечение детей к занятиям футболом</p>
                                    <p><b>Задачи: </b></p>
                                    <p>· Селекционная работа.</p>
                                    <p>· Выявления талантливых детей для занятий футболом в ДЮСШ и Футбольный Центр.</p>
                                    <p>Нормы участия общеобразовательных школ</p>
                                    <p> в пилотном проекте «Урок футбола» в разрезе регионов</p>
                                    <p>в 2018-2019 учебном году</p>
                                    <p>Список общеобразовательных школах,</p>
                                    <p>участвующих в пилотном проекте «Урок футбола»</p>
                                </div>
                                <hr>
                                <div class="lesson--footbal_table one--hun_percent">
                                    <p>Список общеобразовательных школах,</p>
                                    <p>участвующих в пилотном проекте «Урок футбола»</p>
                                    <table border="1">
                                        <tr>
                                            <td rowspan="2"><p>№</p>
                                            </td>
                                            <td rowspan="2"><p>Наименование общеобразовательной (пилотной) школы</p>
                                            </td>
                                            <td rowspan="2"><p>Адрес общеобразовательной (пилотной) школы</p>
                                                <p> (улица, рабочий телефон)</p>
                                            </td>
                                            <td rowspan="2"><p>Ф.И.О.</p>
                                                <p>директора общеобразовательной (пилотной) школы</p>
                                            </td>
                                            <td rowspan="2"><p>Ф.И.О.</p>
                                                <p> учителя физического воспитания, определённого для участия в пилотном
                                                    проекте</p>
                                            </td>
                                            <td rowspan="2"><p>Контакты учителя физического воспитания (сотовый
                                                телефон)</p>
                                            </td>
                                            <td><p>Наличие школьной спортивной инфраструктуры (спортивный зал,
                                                спортивная площадка, мячи, фишки, манишки и др.)</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>1</p>
                                            </td>
                                            <td><p>КГУ «Силантьевская средняя школа отдела образования акимата
                                                Алтынсаринского района»</p>
                                            </td>
                                            <td><p>с. Силантьевка ул.О. Шипина, 1</p>
                                                <p>7144521137</p>
                                            </td>
                                            <td><p>Тарасова Светлана Александровна</p>
                                            </td>
                                            <td><p>Абилов Амирхан Тастанович</p>
                                                <p>Солдатов Денис Вячеславович</p>
                                            </td>
                                            <td><p>+77777960163</p>
                                                <p>+77714305463</p>
                                            </td>
                                            <td><p>спортивный зал, спортивная площадка, мячи, фишки, манишки</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>2</p>
                                            </td>
                                            <td><p>КГУ «Щербаковская средняя школа им.М.Хакимжановой отдела образования
                                                акимата Алтынсаринского района»</p>
                                            </td>
                                            <td><p>с. Щербакова</p>
                                                <p>ул. Гагарина, 1</p>
                                                <p>7144533598</p>
                                            </td>
                                            <td><p>Самидосова Марзия Аягановна</p>
                                            </td>
                                            <td><p>Ягодин Александр Анатольевич</p>
                                                <p>Абикенов Мурат Аманович</p>
                                            </td>
                                            <td><p>+77051293252</p>
                                                <p>+77779002386</p>
                                            </td>
                                            <td><p>спортивный зал, спортивная площадка, мячи, фишки, манишки</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>3</p>
                                            </td>
                                            <td><p>СШ им.И.Алтынсарина</p>
                                                <p>Амангельдинский район</p>
                                            </td>
                                            <td><p>С.Мауленова-45 раб.тел.871440 21-5-57</p>
                                            </td>
                                            <td><p>Алмаганбетов Г.А.</p>
                                            </td>
                                            <td><p>Буркитбаев Ерлан Тусипкалиевич</p>
                                            </td>
                                            <td><p>87782519842</p>
                                            </td>
                                            <td><p>Спортивная площадка,мячи-4шт,фишки-10шт.и др.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>4</p>
                                            </td>
                                            <td><p>СШ им.Б.Колдасбаева</p>
                                                <p>Амангельдинский район</p>
                                            </td>
                                            <td><p>Майдина-10.87144021141</p>
                                            </td>
                                            <td><p>Айтмаганбетов А.К.</p>
                                            </td>
                                            <td><p>Кайырбеков Ерлибек Бектепбергенович</p>
                                            </td>
                                            <td><p>87751711384</p>
                                            </td>
                                            <td><p>Спортивная площадка,мячи-2,фишки-10шт.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>5</p>
                                            </td>
                                            <td><p>ГУ «Аулиекольская школа гимназия им. С. Баймагамбетова отдела
                                                образования акимата Аулиекольского района»</p>
                                            </td>
                                            <td><p> с. Аулиеколь, ул.1 Мая,43, тел.871453(21143)</p>
                                            </td>
                                            <td><p>Максютова Салтанат Казихановна</p>
                                            </td>
                                            <td><p>Бекмагамбетов Болатбек Кабдибекович</p>
                                            </td>
                                            <td><p>87754352555</p>
                                            </td>
                                            <td><p>Спортивный зал, спортивная площадка, мячи, манишки.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>6</p>
                                            </td>
                                            <td><p>ГУ «Аулиекольская средняя школа им. Ш. Уалиханова отдела образования
                                                акимата Аулиекольского района»</p>
                                            </td>
                                            <td><p>с. Аулиеколь, ул.Байтурсынова 1Б, тел. 871453(21944)</p>
                                            </td>
                                            <td><p>Токтамысова Гульмира Карасаевна</p>
                                            </td>
                                            <td><p>Суймаков Берик Жаксалыкович</p>
                                            </td>
                                            <td><p>87476520460</p>
                                            </td>
                                            <td><p>Спортивный зал, спортивная площадка, мячи, манишки.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>7</p>
                                            </td>
                                            <td><p>г.Костанай</p>
                                                <p>СШ№115</p>
                                            </td>
                                            <td><p>Дзержинского 5</p>
                                                <p>39-65-02</p>
                                            </td>
                                            <td><p>Искаков Жанторе Мухтарович</p>
                                            </td>
                                            <td><p>Бисембаев Урман Муратович</p>
                                            </td>
                                            <td><p>87053044225</p>
                                            </td>
                                            <td><p>имеется</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>8</p>
                                            </td>
                                            <td><p>г.Костанай</p>
                                                <p>ШГ№3</p>
                                            </td>
                                            <td><p>Қобланды батыра 28</p>
                                            </td>
                                            <td><p>Нурманова Батагоз Жанабыловна</p>
                                            </td>
                                            <td><p>Ясько Александр Иванович</p>
                                            </td>
                                            <td><p>87054463369</p>
                                            </td>
                                            <td><p>имеется</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>9</p>
                                            </td>
                                            <td><p>КГУ «Средняя школа №3» ГУ «Отдел образования акимата Житикаринского
                                                района»</p>
                                            </td>
                                            <td><p>г. Житикара,</p>
                                                <p>11 микрорайон, 35 дом</p>
                                            </td>
                                            <td><p>Маликова Самал Тишибаевна</p>
                                            </td>
                                            <td><p>Беков Павел Борисович</p>
                                                <p>Якимчук Николай Николаевич</p>
                                            </td>
                                            <td><p>8 777 677 71 46</p>
                                                <p>8 777 013 31 68</p>
                                            </td>
                                            <td><p>Спортивный зал, спортивная площадка, стадион, ворота, 2 мяча</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>10</p>
                                            </td>
                                            <td><p>КГУ «Средняя школа № 10» ГУ «Отдел образования акимата Житикаринского
                                                района»</p>
                                            </td>
                                            <td><p>Житикара 3 микрорайон, 10 дом</p>
                                            </td>
                                            <td><p>Бралина Роза Закировна</p>
                                            </td>
                                            <td><p>Жантасов Даулет Нургазыевич</p>
                                            </td>
                                            <td><p>8 707 667 33 22</p>
                                            </td>
                                            <td><p>Спортивный зал, стадион, мячи, ворота, футбольная форма</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>11</p>
                                            </td>
                                            <td><p>ГУ «Карабалыкская средняя школа имени Максима Горького отдела
                                                образования акимата Карабалыкского района»</p>
                                            </td>
                                            <td><p>П.Карабалык, ул.Пионерская, 1, 8-714-41-3-291-5</p>
                                            </td>
                                            <td><p>И.о. директора Маралбаева Жанылсын Ульмесхановна</p>
                                            </td>
                                            <td><p>Баранбаев Ерлан Арманович</p>
                                            </td>
                                            <td><p>87073265736</p>
                                            </td>
                                            <td><p>Спортивный зал</p>
                                                <p>Стадион</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>12</p>
                                            </td>
                                            <td><p>ГУ «Станционная средняя школа отдела образования акимата
                                                Карабалыкского района»</p>
                                            </td>
                                            <td><p>С.Станционное, ул.,Пионерская, 1, 8-714-41-23-4-30</p>
                                            </td>
                                            <td><p>Балбаева Галия Сериковна</p>
                                            </td>
                                            <td><p>Карабут Сергей Михайлович</p>
                                            </td>
                                            <td><p>87054499051</p>
                                            </td>
                                            <td><p>Спортивный зал</p>
                                                <p>Стадион</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>13</p>
                                            </td>
                                            <td><p>ГУ «Камыстинская средняя школа №1 отдела образования акимата
                                                Камыстинского района»</p>
                                            </td>
                                            <td><p>с.Камысты, ул.Ленина, д.17</p>
                                            </td>
                                            <td><p>Поздина Людмила Николаевна</p>
                                            </td>
                                            <td><p>Тюлебаев Самат Жарбулатович</p>
                                            </td>
                                            <td><p>87772714962</p>
                                            </td>
                                            <td><p>Спортивный зал, спортивная площадка, мячи, манишки, фишки.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>14</p>
                                            </td>
                                            <td><p>ГУ «Камыстинская средняя школа №2 отдела образования акимата
                                                Камыстинского района»</p>
                                            </td>
                                            <td><p>с.Камысты, ул.Ленина, д.34</p>
                                            </td>
                                            <td><p>Искакова Алма Бакитовна</p>
                                            </td>
                                            <td><p>Сапабеков Омар Мирамканович</p>
                                            </td>
                                            <td><p>87752662695</p>
                                            </td>
                                            <td><p>Спортивный зал, спортивная площадка, мячи, манишки, фишки.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>15</p>
                                            </td>
                                            <td><p>ГУ «Карасуская средняя школа акимата Карасуского района»</p>
                                            </td>
                                            <td><p>Тел 21.6.86 ул Комсомольская 13</p>
                                            </td>
                                            <td><p>Каби Гаухар Аргынгазиевна</p>
                                            </td>
                                            <td><p>Катпенов Базарбай Кадырканович</p>
                                            </td>
                                            <td><p>87056698180</p>
                                            </td>
                                            <td><p>имеется</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>16</p>
                                            </td>
                                            <td><p>ГУ «Амангельдинская средняя школа акимата Карасуского района»</p>
                                            </td>
                                            <td><p>с.Амангельды ул Целинная 25. Тел 27878</p>
                                            </td>
                                            <td><p>Ковкова Ирина Владимировна</p>
                                            </td>
                                            <td><p>Стебнев Виталий Сергеевич</p>
                                            </td>
                                            <td><p>87478628302</p>
                                            </td>
                                            <td><p>имеется</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>17</p>
                                            </td>
                                            <td><p>ГУ «Затобольская школа-гимназия» имени Н.Наушабаева</p>
                                            </td>
                                            <td><p>п. Затобольск,</p>
                                                <p>мкр. Водник</p>
                                            </td>
                                            <td><p>Ахметов</p>
                                                <p>Альмурат Жуматаевич</p>
                                            </td>
                                            <td><p>Бримжанов Нуржан Ондасынович</p>
                                            </td>
                                            <td><p>87474331791</p>
                                            </td>
                                            <td><p>+</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>18</p>
                                            </td>
                                            <td><p>ГУ «Затобольская СШ № 2»</p>
                                            </td>
                                            <td><p>п. Затобольск,</p>
                                                <p> ул. Школьная, 40</p>
                                            </td>
                                            <td><p>Сапожникова Лидия Тимофеевна</p>
                                            </td>
                                            <td><p>Кузембаев Азамат Берикович</p>
                                            </td>
                                            <td><p>87775816611</p>
                                            </td>
                                            <td><p>+</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>19</p>
                                            </td>
                                            <td><p>Боровская средняя школа им Г. Жумабаева</p>
                                                <p>Мендыкаринский район</p>
                                            </td>
                                            <td><p>Село Боровское, улица Королева,10</p>
                                            </td>
                                            <td><p>Утеулина Нургуль Жумадиловна</p>
                                            </td>
                                            <td><p>Мергенов Аманжол</p>
                                            </td>
                                            <td><p>87474411013</p>
                                            </td>
                                            <td><p>Спортзал, спортивная площадка, мячи</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>20</p>
                                            </td>
                                            <td><p>Сосновская средняя школа</p>
                                                <p>Мендыкаринский район</p>
                                            </td>
                                            <td>
                                                <p>Село Харьковское, улица Школьная 5/1</p>
                                            </td>
                                            <td><p>Сейтжанова Айгуль Кожамуратовна</p>
                                            </td>
                                            <td>
                                                <p>Кусаинов Касым Кайдарович</p>
                                            </td>
                                            <td>
                                                <p>87783347509</p>
                                            </td>
                                            <td>
                                                <p>Спортзал, спортивная площадка, мячи</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>21</p>
                                            </td>
                                            <td><p>Жамбылская средняя школа</p>
                                            </td>
                                            <td><p>Костанайская обл.Наурзумский р-н.с.Караменды.</p>
                                                <p>ул.Байтурсынова 1.тел(87145421552)</p>
                                            </td>
                                            <td><p>Мирамова Жумабике Жумабековна</p>
                                            </td>
                                            <td><p>Калиев Бауыржан Кайыржанович</p>
                                            </td>
                                            <td><p>87052673540</p>
                                            </td>
                                            <td><p>Спортивный зал – 1,спортивная площадка – 1,мячи – 3.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>22</p>
                                            </td>
                                            <td><p>Улендинская средняя школа</p>
                                            </td>
                                            <td><p>Костанайская обл.Наурзумский р-н.с Уленды.тел:(87145433904)</p>
                                            </td>
                                            <td><p>Серкенов Жомарт Амантаевич</p>
                                            </td>
                                            <td><p>Боханов Нурхан Есказиевич</p>
                                            </td>
                                            <td><p>87771495101</p>
                                            </td>
                                            <td><p>Спортивный зал – 1,мячи – 2.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>23</p>
                                            </td>
                                            <td><p>КГУ «Новоильиновская средняя школа отдела образования акимата
                                                Тарановского района»</p>
                                            </td>
                                            <td><p>Костанайская область Тарановский район с. Новоильиновка, ул.Школьная
                                                35/1 раб. тел.87143625154</p>
                                            </td>
                                            <td><p>Сметанина Елена Александрповна</p>
                                            </td>
                                            <td><p>Нагаев Сергей Алексеевич</p>
                                            </td>
                                            <td><p>87054622522</p>
                                            </td>
                                            <td><p>Спортивный зал -1, спортивная площадка – 1,</p>
                                                <p>мячи-3шт.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>24</p>
                                            </td>
                                            <td><p>КГУ «Средняя школа имени Сапара Ергалиева отдела образования акимата
                                                Тарановского района»</p>
                                            </td>
                                            <td><p>Костанайская область Тарановский район с. Тарановское ул.</p>
                                            </td>
                                            <td><p>Мадибаев Аслан Избасарович</p>
                                            </td>
                                            <td><p>Орақбайұлы Ерболат</p>
                                            </td>
                                            <td><p>87478953727</p>
                                            </td>
                                            <td><p>Спортивный зал -1, спортивная площадка – 1,</p>
                                                <p>мячи-1шт</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>25</p>
                                            </td>
                                            <td><p>КГУ «Средняя школа №4»</p>
                                            </td>
                                            <td><p>г. Лисаковск, микрорайон 4, дом 23.</p>
                                                <p>т. 33520</p>
                                            </td>
                                            <td><p>Езехель Евгения Александровна</p>
                                            </td>
                                            <td><p>Симбаев Руслан Байзанович</p>
                                            </td>
                                            <td><p>87776266687</p>
                                            </td>
                                            <td><p>+</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>26</p>
                                            </td>
                                            <td><p>КГУ «Октябрьская средняя школа</p>
                                            </td>
                                            <td><p>г.Лисаковск, п. Октябрьский, ул. Горького 10.</p>
                                                <p>т. 51341</p>
                                            </td>
                                            <td><p>Худенко Владимир Владимирович</p>
                                            </td>
                                            <td><p>Иванов Павел Григорьевич</p>
                                            </td>
                                            <td><p>87756761988</p>
                                            </td>
                                            <td><p>+</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>27</p>
                                            </td>
                                            <td><p>КГУ «Перелескинская СШ»</p>
                                            </td>
                                            <td><p>с.Перелески</p>
                                            </td>
                                            <td><p>Тулендинова Наталья Адиповна</p>
                                            </td>
                                            <td><p>Мышев Александр Павлович</p>
                                            </td>
                                            <td><p>87478639983</p>
                                            </td>
                                            <td><p>Спортивный зал, спортивная площадка, мячи, фишки, манишки и др.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>28</p>
                                            </td>
                                            <td><p>КГУ «Денисовская СШ № 1»</p>
                                            </td>
                                            <td><p>с.Денисовка</p>
                                            </td>
                                            <td><p>Беркимбаева Раиса Назаровна</p>
                                            </td>
                                            <td><p>Иванов Виталий Владимирович</p>
                                            </td>
                                            <td><p>87772372565</p>
                                            </td>
                                            <td><p>Спортивный зал, спортивная площадка, мячи, фишки, манишки и др.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>29</p>
                                            </td>
                                            <td><p>КГУ «Троебратская средняя школа» ГУ «Отдел образования Узункольского
                                                района»</p>
                                            </td>
                                            <td><p>Костанайская область, Узункольский район, с. Троебратское, 871444
                                                99-2-72</p>
                                            </td>
                                            <td><p>Литвиненко Евгений Николаевич</p>
                                            </td>
                                            <td><p>Султанов Асан Сабырович</p>
                                            </td>
                                            <td><p>87478078082</p>
                                                <p>87785362687</p>
                                            </td>
                                            <td><p>Имеется все необходимое оборудование, спортивный зал и спортивная
                                                площадка</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>30</p>
                                            </td>
                                            <td><p>КГУ «Суворовская средняя школа» ГУ «Отдел образования Узункольского
                                                района»</p>
                                            </td>
                                            <td><p>Костанайская область, Узункольский район, с. Суворово,</p>
                                                <p>871444 36-1-37</p>
                                            </td>
                                            <td><p>Карагожина Амина Наурызовна</p>
                                            </td>
                                            <td><p>Черноок Сергей Юрьевич</p>
                                            </td>
                                            <td><p>87058715650</p>
                                            </td>
                                            <td><p>Имеется все необходимое оборудование, спортивный зал и спортивная
                                                площадка</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>31</p>
                                            </td>
                                            <td><p>КГУ «СШ № 1 им.Димитрова»</p>
                                            </td>
                                            <td><p>Федоровский район, с.Федоровка, ул. Фрунзе 17., тел.
                                                8(71442)23294</p>
                                            </td>
                                            <td><p>Левит Татьяна Борисовна</p>
                                            </td>
                                            <td><p>Касаткин Виктор Евгеньевич</p>
                                            </td>
                                            <td><p>87054529254</p>
                                            </td>
                                            <td><p>Спортивный зал, фишки, мячи для футбола, мячи для мини-футбола</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>32</p>
                                            </td>
                                            <td><p>КГУ «СШ № 4 им.М.Маметовой»</p>
                                            </td>
                                            <td><p>Федоровский район, с.Федоровка, ул. Первомайка 59.</p>
                                            </td>
                                            <td><p>Пискун Светлана Ивановна</p>
                                            </td>
                                            <td><p>Воробьев Владимир Владимирович</p>
                                            </td>
                                            <td><p>87770536289</p>
                                                <p>87478582864</p>
                                            </td>
                                            <td><p>Спортивный зал, поле для мини-футбола, фишки, мячи для футбола, мячи
                                                для мини-футбола</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>33</p>
                                            </td>
                                            <td><p>СШ № 5</p>
                                            </td>
                                            <td><p>ул. Ш. Жанибека – 109</p>
                                                <p>87143070451</p>
                                            </td>
                                            <td><p>Сейдалина Ултуган Байжигитовна.</p>
                                            </td>
                                            <td><p>Кабденов Ерболат Габиболлатович</p>
                                            </td>
                                            <td><p>87028835488</p>
                                            </td>
                                            <td><p>имеется</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>34</p>
                                            </td>
                                            <td><p>СШ № 4</p>
                                            </td>
                                            <td><p>ул. Ш. Жанибека – 81</p>
                                                <p>87143072622</p>
                                            </td>
                                            <td><p>Садуов Нурлан Талапович</p>
                                            </td>
                                            <td><p>Жумаханов Асылбек Борашович</p>
                                            </td>
                                            <td><p>87029629699</p>
                                            </td>
                                            <td><p>имеется</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>35</p>
                                            </td>
                                            <td><p>КГУ «Средняя школа № 14 имени Дм. Карбышева» акимата города
                                                Рудного</p>
                                            </td>
                                            <td><p>г.Рудный улица Горняков дом 76, телефон: 8(71431)4-84-80</p>
                                            </td>
                                            <td><p>Ағатай Абзал Әміржанұлы</p>
                                            </td>
                                            <td><p>Ешпанов Роман Ережепбаевич</p>
                                                <p>Турганов Алмаз Баяндыевич</p>
                                            </td>
                                            <td><p>87770530605</p>
                                                <p>87474617403</p>
                                            </td>
                                            <td><p>Спортплощадка на улице, спортзал в школе, мячи, и т.д.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>36</p>
                                            </td>
                                            <td><p>КГУ «Средняя школа № 15» акимата города Рудного</p>
                                            </td>
                                            <td><p>г.Рудный улица Ленина дом 99, телефон: 8(71431)4-08-37</p>
                                            </td>
                                            <td><p>Нурмаганбетов Кайыржан Ракымжанович</p>
                                            </td>
                                            <td><p>Аханов Кайсар Бикенұлы,</p>
                                                <p>Бигайдаров Дауман Даниярұлы</p>
                                            </td>
                                            <td><p>87784845593</p>
                                                <p>87079052750</p>
                                            </td>
                                            <td><p>Спортплощадка на улице, спортзал в школе, мячи, и т.д.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>37</p>
                                            </td>
                                            <td><p>Сарыкольский район Урицкая школа-лицей</p>
                                            </td>
                                            <td><p>п.Сарыколь ул.Пушкина,47</p>
                                            </td>
                                            <td><p>Соколовская Елена Николавена</p>
                                            </td>
                                            <td><p>Науменко Артем Сергеевич</p>
                                            </td>
                                            <td><p>87145121501</p>
                                            </td>
                                            <td><p>+</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>38</p>
                                            </td>
                                            <td><p>Сарыкольский район Тагильская СШ</p>
                                            </td>
                                            <td><p>с. Тагильский ул.Ленина, 16</p>
                                            </td>
                                            <td><p>Иоз Наталья Ивановна</p>
                                            </td>
                                            <td><p>Старченко Виктор Сергеевич</p>
                                            </td>
                                            <td><p>87145136424</p>
                                            </td>
                                            <td><p>+</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>39</p>
                                            </td>
                                            <td><p>Жангельдинская средняя школа</p>
                                            </td>
                                            <td><p>А.Аралбай</p>
                                            </td>
                                            <td><p>Кабенова Айман Апешовна</p>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>40</p>
                                            </td>
                                            <td><p>Средняя школа им.Ш.Уалиханова</p>
                                            </td>
                                            <td><p>Ул.Койдосова,4</p>
                                            </td>
                                            <td><p>Шаимов Ботабай</p>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    </table>
                                    <hr>
                                    <p>Приложение 2</p>
                                    <p>Нормы участия общеобразовательных школ</p>
                                    <p> в пилотном проекте «Урок футбола» в разрезе регионов</p>
                                    <p>в 2018-2019 учебном году</p>
                                    <table border="1" class="one--hun_percent">
                                        <tr>
                                            <td rowspan="2"><p>№</p>
                                            </td>
                                            <td rowspan="2"><p>Наименование области</p>
                                            </td>
                                            <td rowspan="2"><p>Всего школ, участвующих в пилотном проекте</p>
                                            </td>
                                            <td colspan="3"><p>Количество пилотных школ,</p>
                                                <p>в них классов, которые участвуют в проекте «Урок футбол»</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>1-4</p>
                                            </td>
                                            <td><p>5-9</p>
                                            </td>
                                            <td><p>10-11</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>1</p>
                                            </td>
                                            <td><p>Костанайская область</p>
                                            </td>
                                            <td><p>40</p>
                                            </td>
                                            <td><p>104</p>
                                            </td>
                                            <td><p>194</p>
                                            </td>
                                            <td><p>43</p>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Shopping-Cart -->
            </div>
        </div>

    </div>
    <!-- CONTENT END -->

</div>

</body>
</html>