<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <div th:replace="parts/header :: header-css"></div>
</head>
<body>
<!--header part-->
<div th:replace="parts/header :: header"></div>
<!--/header-part-->
<!-- CONTENT BEGIN -->
<div class="content--news--back">
    <div class="container">
        <div class="content--news">
            <div class="row">
                <!-- Start Shopping-Cart -->
                <div class="shopping-cart">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cart-title">
                                <div class="vistavka--block">
                                    <h3>Выставка: «История Костанайского футбола».</h3>
                                    <p>В рамках программы развития футбола в Костанайской области проводится выставка
                                        экспонатов «История Костанайского футбола в лицах и фактах» в районах и городах
                                        области.</p>
                                    <p><b>Цель:</b> Формировать патриотические чувства у молодежи и молодых футболистов
                                        на примере славных побед ФК «Тобол» в Чемпионате РК, Кубке РК и в Кубке
                                        «Интертото», которые соответствуют духу и ценностям клуба.</p>
                                    <p><b>Задачи:</b></p>
                                    <li>Привлечь молодежь к здоровому образу жизни и занятию футболом.</li>
                                    <li>Ознакомление учащихся школ и других категорий населения с историей Костанайского
                                        футбола.
                                    </li>
                                    <li>В «Передвижной выставке», используются следующие экспонаты: документы, награды
                                        (медали, грамоты, ценные призы), а так же архивные материалы.
                                    </li>
                                    <p>Выставка сопровождается лекцией на тему «История Костанайского футбола», фото и
                                        презентацией.</p>
                                    <p>Для справок обращаться по телефону: 87015357333</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Shopping-Cart -->
            </div>
        </div>

    </div>
    <!-- CONTENT END -->

</div>

</body>
</html>