<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <div th:replace="parts/header :: header-css"></div>
</head>
<body>
<!--header part-->
<div th:replace="parts/header :: header"></div>
<!--/header-part-->
<!-- CONTENT BEGIN -->
<div class="content--news--back">
    <div class="container">
        <div class="content--news">
            <div class="row">
                <!-- Start Shopping-Cart -->
                <div class="shopping-cart">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cart-title">
                                <div class="woman-football one--hun_percent programm--teach">
                                    <p><b> </b></p>
                                    <table border="1">
                                        <tr>
                                            <td><p><b>№</b></p>
                                            </td>
                                            <td><p><b>Наименование спортивного соревнования</b></p>
                                            </td>
                                            <td><p><b>Сроки и место проведения спортивного соревнования</b></p>
                                            </td>
                                            <td><p><b>Организации, участвующие в спортивном соревновании</b></p>
                                            </td>
                                            <td><p><b>Состав команды участвующей в спортивном соревновании</b></p>
                                            </td>
                                            <td><p><b>Организатор спортивного соревнования</b></p>
                                            </td>
                                            <td><p><b>Организации командирующие участников спортивного соревнования</b>
                                            </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>1.</p>
                                            </td>
                                            <td><p>Первенство области по футболу среди девушек (U-17)</p>
                                            </td>
                                            <td><p>Март</p>
                                                <p>г.Костанай</p>
                                            </td>
                                            <td><p>Команды городов и районов</p>
                                            </td>
                                            <td><p>По положению</p>
                                            </td>
                                            <td><p>ОЮЛ ФСКО</p>
                                            </td>
                                            <td><p>ОФКиС,ДЮСШ</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>2.</p>
                                            </td>
                                            <td><p>Первенство области по футболу среди девушек (U-15)</p>
                                            </td>
                                            <td><p>Апрель</p>
                                                <p>г.Костанай</p>
                                            </td>
                                            <td><p>Команды городов и районов</p>
                                            </td>
                                            <td><p>По положению</p>
                                            </td>
                                            <td><p>ОЮЛ ФСКО</p>
                                            </td>
                                            <td><p>ОФКиС,ДЮСШ</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>3.</p>
                                            </td>
                                            <td><p>Открытй турнир по футболу среди девушек посвященный Дню
                                                Казахстанского футбола</p>
                                            </td>
                                            <td><p>Апрель</p>
                                                <p>г.Костанай</p>
                                            </td>
                                            <td><p>Команды городов и районов</p>
                                            </td>
                                            <td><p>По положению</p>
                                            </td>
                                            <td><p>ОЮЛ ФСКО</p>
                                            </td>
                                            <td><p>ОФКиС,ДЮСШ</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>4.</p>
                                            </td>
                                            <td><p>Открытый турнир по футболу среди девушек, посвященный Дню столицы</p>
                                            </td>
                                            <td><p>Июнь</p>
                                                <p>г.Костанай</p>
                                            </td>
                                            <td><p>Команды городов и районов</p>
                                            </td>
                                            <td><p>По положению</p>
                                            </td>
                                            <td><p>ОЮЛ ФСКО</p>
                                            </td>
                                            <td><p>ОФКиС,ДЮСШ</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>5.</p>
                                            </td>
                                            <td><p>Открытое Первенство области по мини-футболусреди девушек (U-17)</p>
                                            </td>
                                            <td><p>август г.Костанай</p>
                                            </td>
                                            <td><p>Команды городов и районов</p>
                                            </td>
                                            <td><p>По положению</p>
                                            </td>
                                            <td><p>ОЮЛ ФСКО</p>
                                            </td>
                                            <td><p>ОФКиС,ДЮСШ</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>6.</p>
                                            </td>
                                            <td><p>Открытое Первенство области по мини-футболусреди девушек (U-15)</p>
                                            </td>
                                            <td><p>Сентябрь</p>
                                                <p>г.Костанай</p>
                                            </td>
                                            <td><p>Команды городов и районов</p>
                                            </td>
                                            <td><p>По положению</p>
                                            </td>
                                            <td><p>ОЮЛ ФСКО</p>
                                            </td>
                                            <td><p>ОФКиС,ДЮСШ</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>7.</p>
                                            </td>
                                            <td><p>Открытый турнир по футболу среди девушек, посвященный Дню первого
                                                Президента</p>
                                            </td>
                                            <td><p>Ноябрь</p>
                                                <p>г.Костанай</p>
                                            </td>
                                            <td><p>Команды городов и районов</p>
                                            </td>
                                            <td><p>По положению</p>
                                            </td>
                                            <td><p>ОЮЛ ФСКО</p>
                                            </td>
                                            <td><p>ОФКиС,ДЮСШ</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>8.</p>
                                            </td>
                                            <td><p>Открытый турнир по футболу среди девушек, посвященный Дню
                                                Независимости Республики Казахстан</p>
                                            </td>
                                            <td><p>Декабрь</p>
                                                <p>г.Костанай</p>
                                            </td>
                                            <td><p>Команды городов и районов</p>
                                            </td>
                                            <td><p>По положению</p>
                                            </td>
                                            <td><p>ОЮЛ ФСКО</p>
                                            </td>
                                            <td><p>ОФКиС,ДЮСШ</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>9.</p>
                                            </td>
                                            <td><p>Международный турнир по мини-футболусреди девушек на Кубок команды
                                                «Корвет-М»</p>
                                            </td>
                                            <td><p>По назначению</p>
                                                <p>г.Курган</p>
                                            </td>
                                            <td><p>Команды городов Казахстана и России</p>
                                            </td>
                                            <td><p>По положению</p>
                                            </td>
                                            <td><p>ГУ «Управление физической культуры и спорта акимата Костанайской
                                                области»</p>
                                            </td>
                                            <td><p>ГУ «Управление физической культуры и спорта акимата Костанайской
                                                области»</p>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Shopping-Cart -->
            </div>
        </div>

    </div>
    <!-- CONTENT END -->

</div>

</body>
</html>