<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <div th:replace="parts/header :: header-css"></div>
</head>
<body>
<!--header part-->
<div th:replace="parts/header :: header"></div>
<!--/header-part-->
            <!-- CONTENT BEGIN -->
            <div class="content--news--back">
              <div class="container">
                <div class="content--news">
                  <div class="row">
           <!-- Start Shopping-Cart -->
  <div class="shopping-cart">
    <div class="row">
      <div class="col-md-12">
        <div class="cart-title">
          <div class="young--arbit">
            <p>Школа молодого арбитра.</p>
<p>В Судейском комитете ФСКО работает «Школа молодого арбитра». В «Школу молодого арбитра» проводится набор начинающих футбольных судьей.</p>
<p><b>Цель:</b></p>
<p>Повышение качества подготовки молодых арбитров в Костанайской области.</p>
<p><b>Задачи:</b></p>
<p>· Разработать систему критериев отбора молодых арбитров, для последующего их выдвижения на судейство соревнований с участием детско-юношеских и молодёжных команд;</p>
<p>· Рекомендации ДСИ КФФ наиболее подготовленных молодых арбитров для включения их в состав судей обслуживающих матчи ДЮФ, Первенства 2 лиги.</p>
<p>· Повышение качества судейства соревнований, проводимых Футбольным союзом Костанайской области</p>
<p>· Изучение правил игры в футбол и Регламентов проведения соревнований по футболу;</p>
<p>· Повысить уровень развития функционально важных физиологических функций и физических качеств (силы, скорости, выносливости, ловкости).</p>
<p>· Проведение регулярных учебных теоретических занятий и семинаров для арбитров любой квалификации 1 раз в неделю;</p>
<p><b> Списки арбитров «Школы молодого арбитра»:</b></p>
<p>· Авраменко Владимир Олегович 1997;</p>
<p>· Комаровский Александр Фёдорович 1999;</p>
<p>· Масленов Иван Сергеевич 2001;</p>
<p>· Сулейменов Тимур Ильясович 2002 ;</p>
<p>· Тлеубай Бахтияр Токушулы 1990.</p>
<p>Телефон:</p>
<p>87778277789</p>
<p>87019798288</p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Shopping-Cart -->
              </div>
            </div>

          </div>
          <!-- CONTENT END -->

        </div> 

</body>
</html>